<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.apache.tomcat.serviceprovider">
      <serviceprovider
            class="com.servoy.eclipse.designer.webpackage.ServicesProvider"
            id="com.servoy.eclipse.designer.wpm.serviceprovider">
      </serviceprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.servoy.eclipse.designer.webpackage.WebPackageManager"
            default="false"
            icon="icons/webpackagemanager.png"
            id="com.servoy.eclipse.ui.webpackagemanager"
            name="Web Package Manager">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.webpackage.open.OpenWebPackageManagerCommandHandler"
            description="Opens the Web Package Manager to download/install components/services or layouts"
            id="com.servoy.eclipse.designer.wpm.open"
            name="Download/Install with Web Package Manager">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=com.servoy.action.new">
         <command
               commandId="com.servoy.eclipse.designer.wpm.open"
               icon="icons/webpackagemanager.png"
               label="Download/Install with Web Package Manager"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.servoy.eclipse.ui.node.SimpleUserNode">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="com.servoy.eclipse.designer.wpm.testers.SimpleUserNode.isWebPackagesNode"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.servoy.eclipse.designer.wpm.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.servoy.eclipse.designer.webpackage.open.WebPackagesNodePropertyTester"
            id="com.servoy.eclipse.designer.wpm.propertyTester"
            namespace="com.servoy.eclipse.designer.wpm.testers.SimpleUserNode"
            properties="isWebPackagesNode"
            type="com.servoy.eclipse.ui.node.SimpleUserNode">
      </propertyTester>
   </extension>

</plugin>
