<<replace-with-your-git-repo-location>>/aggridcomponents/aggrid
<<replace-with-your-git-repo-location>>/bootstrapcomponents
<<replace-with-your-git-repo-location>>/bootstrapextracomponents/bootstrapextracomponents
<<replace-with-your-git-repo-location>>/servoy-extra-components
<<replace-with-your-git-repo-location>>/custom-rendered-components/customrenderedcomponents
<<replace-with-your-git-repo-location>>/fullcalendarcomponent2/fullcalendarcomponent2
<<replace-with-your-git-repo-location>>/smartDocumentEditor/component
<<replace-with-your-git-repo-location>>/svyChartJS/svychartjs
<<replace-with-your-git-repo-location>>/svyGMaps/googlemaps
<<replace-with-your-git-repo-location>>/svyPDFViewer/pdfviewer
<<replace-with-your-git-repo-location>>/servoy-client/servoy_ngclient/war/servoycore
<<replace-with-your-git-repo-location>>/servoy-client/servoy_ngclient/war/servoy_ng_only_services
<<replace-with-your-git-repo-location>>/svyBlockUI/svyblockui/blockui
<<replace-with-your-git-repo-location>>/ngdesktoputils/ngdesktoputils/ngdesktoputils
<<replace-with-your-git-repo-location>>/ngdesktopfile/ngdesktopfile/ngdesktopfile
<<replace-with-your-git-repo-location>>/ngdesktopui/ngdesktopui/ngdesktopui
<<replace-with-your-git-repo-location>>/svyKeyListener/keylistener/keylistener
<<replace-with-your-git-repo-location>>/webnotifications/webnotifications
<<replace-with-your-git-repo-location>>/svycanvas/svycanvas
<<replace-with-your-git-repo-location>>/svykanban/svykanban
<<replace-with-your-git-repo-location>>/svyIdle/svyIdle