/* Helper classes */
.user-selection-off {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.max {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px
}

body {
	font-family: 'Roboto', helvetica, sans-serif
}

/* Left Hand Side Panel */
.lhs-panel {
	position: absolute; 
	top: 37px; 
	bottom: 0px;
	left: 0px; 
	width: 200px; 
	padding-left: 8px;
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease-out;
	
	-webkit-transform: scale(1);
	   -moz-transform: (1);
	        transform: scale(1);
  	
  	-webkit-transform-origin: top left;
	   -moz-transform-origin: top left;
	        transform-origin: top left;
	
	/*TODO: tweak this shadow a bit so it looks better*/
	-webkit-box-shadow: 1px 3px 6px 1px rgba(50, 50, 50, 0.75);
	   -moz-box-shadow: 1px 3px 6px 1px rgba(50, 50, 50, 0.75);
	        box-shadow: 1px 3px 6px 1px rgba(50, 50, 50, 0.75);
}

.content-area {
	position: absolute;
	top: 34px;
	left: 200px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	background-image: url('../images/light-raster-background.png')
}

.content-area.non-full {
	padding-top: 20px;
	padding-left: 20px
}

.contentframe {
	border-width: 0px;
	width: 100%;
	height: 100%;
	display: block
}

/* Decorator Overlays */
/*Makes sure elements inside a container are still accessible when the container is selected, by letting events pass through the decorationOverlay (but not decorators) */
.decorator {
	pointer-events: auto
}

.decorationOverlay {
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	border: 1px solid black;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab
}

.glasspane {
	display: none;
	z-index: 2
}

.ghostcontainer {
	position:absolute;  
	visibility: hidden;
}

.ghost {
	position:absolute; 
	height:30px; 
	width:30px; 
	border-style:solid; 
	border-width: 1px;
	color: black;
	font-size: 10pt;
	visibility: visible;
}

#lasso {
	position:relative; 
	left: 0px; 
	top: 0px; 
	height:0px; 
	width:0px; 
	border-style:dashed; 
	border-width: 1px;
	display: none
}