.margin {
	position: absolute;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
}

.margin.t {
	top: 0px;
}

.margin.r {
	right: 0px;
}

.margin.b {
	bottom: 0px;
}

.margin.l {
	left: 0px;
}