.toolbar-area {
	position: relative;
	width: 100%;
	height: 37px;
	border: 0px solid #C0C0C0;
	border-bottom-width: 1px;
	background-color: #F2F2F2;
	padding: 2px
}

.toolbar {
	position: relative;
	float: left;
	height: 30px;
	overflow: hidden;
	border: 0px solid #C0C0C0;
	border-left-width: 1px;
	margin-left: 2px;
	padding-left: 2px
}

.toolbar.right-aligned {
	float: right;
}

.toolbar.first {
	border-left-width: 0px;
	padding-left: 0px;
	margin-left: 0px
}

.toolbar-action {
	display: inline-block;
	height: 26px;
	min-width: 26px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 2px;
	float: left;
	margin: 2px;
	
	background-color: #d9d9d9;
}

.toolbar-action:hover {
	border-color: #C0C0C0
}

.toolbar-action img {
	vertical-align: middle;
}

.toolbar-action[data-selected="true"] {
	background-color: #d9d9d9
}

.toolbar-action[data-action-type="highlight-empty-containers"] img {
	border: 1px dashed #C0C0C0;
}

.disabled img {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
}