<button id="VariantsCtrl" type="button" class="btn btn-light btn-sm variantBtn" 
	#popover="ngbPopover" [ngbPopover]="popoverContent" [placement]="placement" 
	style="position: absolute; top: -10000px; left: -1000px; display: block;"
	(click)="onVariantsClick()">
        <i name="variants" class="fa fa-ellipsis" aria-hidden="true"></i>
</button>
<ng-template #popoverContent let-popOv="popOv" let-clientURL="clientURL">
	<div class="modal-body">
		<div #variantContent class="variant-content-area" tabindex="0" (mouseup)="onAreaMouseUp($event)">
			<div #variantGlassspane class="variant-content-overlay">
				<iframe id="VariantsForm" class="variant-content-frame" [src]="clientURL"></iframe>
			</div>
		</div>
	</div>
</ng-template>
