.sidebar-resizer {
    flex-shrink: 0;
    width: 6px;
    cursor: e-resize;
    background-color: #e5e5e5;
}

.sidebar-resizer:HOVER {
    background-color: #CCC;
}

.palette {
    overflow-y: auto;
    height: 100%;
    max-height:100%;
    user-select:none;
    position: relative;
}

.palette ul {
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
}


.palette li {
    padding-top: 0px;
    white-space: nowrap;
    font-size: 12px;
    margin-bottom: 0;
}

.palette li>span:hover {
    background-color: #CCC
}

.palette img {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.accordion {
    --bs-accordion-active-bg: rgb(255, 187, 55);
    --bs-accordion-active-color: #212529;
    --bs-accordion-btn-padding-y: 0.5rem;
}

.accordion .accordion-body {
    padding: 5px 20px 5px 20px;
}

.accordion .accordion-button {
    height: 20px;
    font-size: 14px;
    min-width: 195px;
}

.accordion .accordion-button::after, .accordion .accordion-button:not(.collapsed)::after {
    --bs-accordion-btn-icon-width: 0.8rem;
}

.favIcon {
    margin-left: 10px;
    visibility: hidden;
}

.palette ul>li:hover>.favIcon {
    visibility: visible;
}

/* search history */
ul.suggestions, span.delete-search {
    position: absolute;
}

ul.suggestions {
    padding: unset !important;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    width: 100%;
}

ul.suggestions li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
}

ul.suggestions li:hover, .title {
    background-color: rgb(255, 187, 55);
}

ul.suggestions li:hover {
    opacity: 0.7;
}

ul.suggestions li:last-child:hover, ul.suggestions {
    border-bottom-left-radius: 0.375rem;
}

ul.suggestions li:last-child .delete-suggestion:hover, ul.suggestions li:last-child:hover, ul.suggestions {
    border-bottom-right-radius: 0.375rem;
}

span.delete-search {
    right: 0;
    top: 0;
}

.text-suggestion:hover {
  background-color: transparent !important;
  color: inherit !important;
}

.title {
    padding: 3px 0px 3px 12px;
    margin:unset;
}