.sidebar-resizer {
    flex-shrink: 0;
    width: 6px;
    cursor: e-resize;
    background-color: #e5e5e5;
}

.sidebar-resizer:HOVER {
    background-color: #CCC;
}

.palette {
    overflow-y: auto;
    max-height:100%;
}

.palette ul {
    list-style-type: none;
    padding-left: 20px;
    cursor: copy
}

.palette li {
    padding-top: 0px;
    white-space: nowrap;
    font-size: 12px;
}

.palette img {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
