<div id="palette" class="palette">
    <input type="text" class="form-control input-xs" placeholder="Search"  [(ngModel)]="searchText"/>
    <button type="button" class="btn btn-default btn-link" (click)="openPackageManager()"><img src='/rfb/angular/templates/images/add_components.png'/>Get more components</button>
    <ngb-accordion [activeIds]="activeIds" [type]="'light'">
        <ngb-panel *ngFor="let package of packages;let i = index" [id]="package.id">
         <ng-template ngbPanelTitle>
           {{package.packageDisplayname}}
        </ng-template>
         <ng-template ngbPanelContent>
            <ul>
                <li *ngFor="let component of package.components"><img [src]="'/'+component.icon" alt=""/>{{component.displayName}}
                    <ul>
                    <li *ngFor="let ghost of component.types"><img [src]="'/'+component.icon" alt=""/>{{ !!ghost.multiple ? ghost.type + " (" + ghost.propertyName + ")" : ghost.type }}</li>
                    </ul>
                    <ul *ngFor="let propertyName of component.properties">
                        <li *ngFor="let comp of component.components"><img [src]="'/'+component.icon" alt=""/> {{propertyName + ': ' + comp.displayName}}</li>
                    </ul>
                </li>
                
            </ul>
        </ng-template>
        </ngb-panel>
    </ngb-accordion>
    
</div>
