.sidebar-resizer {
    flex-shrink: 0;
    width: 6px;
    cursor: e-resize;
    background-color: #e5e5e5;
}

.sidebar-resizer:HOVER {
    background-color: #CCC;
}

.palette {
    overflow-y: auto;
    max-height:100%;
    user-select:none;
}

.palette ul {
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
     margin-bottom: 0;
}


.palette li {
    padding-top: 0px;
    white-space: nowrap;
    font-size: 12px;
     margin-bottom: 0;
}

.palette li>span:hover {
    background-color: #CCC
}

.palette img {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.accordion {
    --bs-accordion-active-bg: rgb(255, 187, 55);
    --bs-accordion-active-color: #212529;
    --bs-accordion-btn-padding-y: 0.5rem;
}
