<div class="toolbar-area">

  @if (elements && elements.length > 0) {
    <div class="toolbar element">
      @for (item of elements; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item"  class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (ordering && ordering.length > 0) {
    <div class="toolbar ordering">
      @for (item of ordering; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (alignment && alignment.length > 0) {
    <div class="toolbar alignment">
      @for (item of alignment; track item) {
        @if (!item.hide) {
          <designer-toolbar-button  [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (distribution && distribution.length > 0) {
    <div class="toolbar distribution">
      @for (item of distribution; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (zoom && zoom.length > 0) {
    <div class="toolbar zoom">
      @for (item of zoom; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (zoom_level && zoom_level.length > 0) {
    <div class="toolbar zoom_level" style="border-left-width: 0px;">
      @for (item of zoom_level; track item) {
        @if (!item.hide) {
          <designer-toolbar-spinner [item]="item" class="toolbar-action"></designer-toolbar-spinner>
        }
      }
    </div>
  }

  @if (form && form.length > 0) {
    <div class="toolbar form">
      @for (item of form; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (display && display.length > 0) {
    <div class="toolbar display">
      @for (item of display; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  <!-- This right aligned toolbar will expand its left margin so that it will be moved as far right as possible,
  divs after this one will also be on the right side of the toolbar -->

  @if (show_data && show_data.length > 0) {
    <div class="toolbar show_data right-aligned">
      @for (item of show_data; track item) {
        @if (!item.hide) {
          <designer-toolbar-switch [item]="item" class="toolbar-action"></designer-toolbar-switch>
        }
      }
    </div>
  }

  @if (design_mode && design_mode.length > 0) {
    <div class="toolbar design_mode">
      @for (item of design_mode; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (sticky && sticky.length > 0) {
    <div class="toolbar sticky">
      @for (item of sticky; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

  @if (standard_actions && standard_actions.length > 0) {
    <div class="toolbar standard_actions">
      @for (item of standard_actions; track item) {
        @if (!item.hide) {
          <designer-toolbar-button [item]="item" class="toolbar-action"></designer-toolbar-button>
        }
      }
    </div>
  }

</div>
