<div>
	<button class="btn btn-xs toolbarspinner-button toolbarspinner-button-left" (click)="dec()" [disabled]="!item.enabled || value <= item.min" title="{{item.decbutton_text}}">
		<img src="designer/assets/{{item.decIcon}}"/>
	</button>
	<input class="toolbarspinner" type="number" [(ngModel)]="value" min="{{item.min}}" max="{{item.max}}" title="{{item.text}}" (blur)="checkInput()" [disabled]="!item.enabled">
	<button class="btn btn-xs toolbarspinner-button toolbarspinner-button-right" (click)="inc()" [disabled]="!item.enabled || value >= item.max" title="{{item.incbutton_text}}">
		<img src="designer/assets/{{item.incIcon}}"/>
	</button>
</div>