<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar class="dialog">
      <div class="md-toolbar-tools">
        <h2>Please give the name and the url of the index you want to add</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
       <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="name">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Url</label>
        <input ng-model="url">
      </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="add()">
       Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>