<html lang="en" >
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- Angular Material style sheet -->
	  <link rel="stylesheet" href="angular-material.min.css">
	  <link rel="stylesheet" href="css/font-awesome.min.css">
	  <link rel="stylesheet" href="css/manager.css">
	  <style>
	    @font-face {
	      font-family:"icomoon";
	      src:url("icomoon.eot");
	      font-weight:normal;
	      font-style:normal;
	    }
	
	    @font-face {
	      font-family: 'icomoon';
	      src:url('fonts/icomoon.eot?-cmq1um');
	      src:url('fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
	      url('fonts/icomoon.woff?-cmq1um') format('woff'),
	      url('fonts/icomoon.ttf?-cmq1um') format('truetype'),
	      url('fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
	      font-weight: normal;
	      font-style: normal;
	    }
	  </style>
	  <!-- Angular Material requires Angular.js Libraries -->
	  <script src="angular.min.js"></script>
	  <script src="angular-animate.min.js"></script>
	  <script src="angular-aria.min.js"></script>
	  <script src="angular-messages.min.js"></script>
	  <!-- Angular Material Library -->
	  <script src="angular-material.min.js"></script>
	  
	  <!-- Your application bootstrap  -->
	  <script src="manager.js"></script>
	  
	</head>
	<body ng-app="app" ng-controller="appPackages" ng-cloak>
		<div class="wpm"> 
		  <div class="wpm-header">
		    <md-content>
		      <div style="float:right" layout="row">
		       <md-select ng-model="activeRepository" class="repository">
		          <md-option ng-value="repository" ng-repeat="repository in repositories">{{repository}}</md-option>
		           <md-tooltip md-direction="bottom" md-autohide="true">Select to change the repository</md-tooltip>
		        </md-select>
		         <md-button style="height:auto;" class="md-icon-button fa fa-trash"  ng-click="removeRepository()" ng-if="showRemoveRepository">
		          <md-tooltip md-direction="bottom" md-autohide="true">
		            Remove the repository url'.
		          </md-tooltip>
		        </md-button>
		      </div>
					<h1 class="wpm-title">Servoy Package Manager</h1>
					<p ng-if="needRefresh" class="warning">There are new packages available! Reopen the Web Package Manager to load them.</p>
		      <p class="wpm-subtitle">Manage Web Packages of the active solution {{ !!getActiveSolution() ? "'" + getActiveSolution() + "'" : ""}} and it's modules...</p>
		    </md-content>
		  </div>
		  <div class="wpm-content">
		  	<md-content layout="column" layout-align="space-around center center" ng-if="isLoading" style="min-height: 150px;">
		  		<md-content>Loading ...</md-content>
		  		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		  	</md-content>
		    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" ng-if="!isLoading">
		      <md-tab label="NG Components {{getUpgradeCount(componentPackages)}}">
		        <md-content class="md-padding">
		        	<packages packages="componentPackages" solution-list="solutionList" websocket="websocket">
		        </md-content>
		      </md-tab>
		      <md-tab label="NG Services {{getUpgradeCount(servicePackages)}}">
		        <md-content class="md-padding">
							<packages packages="servicePackages" solution-list="solutionList" websocket="websocket">
		        </md-content>
		      </md-tab>
			  	<md-tab label="NG Layouts {{getUpgradeCount(layoutPackages)}}">
		        <md-content class="md-padding">
		          <packages packages="layoutPackages" solution-list="solutionList" websocket="websocket">
		        </md-content>
		      </md-tab>
					<md-tab label="Servoy solutions">
		        <md-content class="md-padding">
		          <packages packages="solutionPackages" solution-list="solutionList" websocket="websocket">
		        </md-content>
		      </md-tab>   
		    </md-tabs>
		  </div>
		</div>
	</body>
</html>
