<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	debug="false" status="INFO">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%t] %c - %m%n" />
		</Console>
		<SlidingWindow name="configservlet" windowSize="1000"
			dateTimeFormat="yyyy-MM-dd HH:mm" />
		<RollingFile name="file"
			fileName="${web:attr.servoy.application_server.dir}/servoy_log.txt"
			filePattern="${web:attr.servoy.application_server.dir}/servoy_log-%i.txt.zip"
			immediateFlush="true" append="true">
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<PatternLayout
				pattern="%d %p [%t] %c - %m [$${servoy:clientid:-} $${servoy:solution:-}]%n" />
		</RollingFile>
		<Async name="asyncfile">
			<AppenderRef ref="file" />
		</Async>
	</Appenders>
	<Loggers>
        <Logger name="com.servoy.j2db.util.Debug" level="WARN" />
        <Logger name="stateless.login" level="WARN" />
        <Logger name="com.servoy.j2db.dataprocessing.editedRecords" level="WARN" />
        <Logger name="persistence.Server" level="WARN" />
        <Logger name="com.servoy.j2db.persistence.XMLInMemoryImportHandlerVersions11AndHigher" level="WARN" />
        <Logger name="WarSolutionImportLogger" level="WARN" />
        <Logger name="com.servoy.j2db.persistence.XMLExporter" level="WARN" />
        <Logger name="com.servoy.j2db.server" level="WARN" />
        <Logger name="WebServer" level="WARN" />
        <Logger name="com.servoy.j2db.datasource" level="WARN" />
        <Logger name="ClientManager" level="WARN" />
        <Logger name="org.sablo" level="WARN" />
        <Logger name="org.sablo.specification.property" level="WARN" />
        <Logger name="org.sablo.websocket" level="WARN" />
		<Logger name="org.sablo.IndexPageEnhancer" level="ERROR" />
        <Logger name="com.servoy.j2db.server.ngclient.property.types" level="WARN" />
		
		<Root level="WARN">
			<AppenderRef ref="asyncfile" />
			<AppenderRef ref="configservlet" />
			<!-- <AppenderRef ref="stdout" /> -->
		</Root>
	</Loggers>
</Configuration>			
