<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.servoy.eclipse.jsunit.launchConfigurationProvider" name="JS Unit Test Launch Configuration Finder" schema="schema/com.servoy.eclipse.jsunit.launchConfigurationProvider.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Run Solution/Scope/Form/Method Javascript Unit Test(s)"
            id="com.servoy.eclipse.jsunit.commands.runScriptUnitTests"
            name="Run JS Unit Test(s)">
      </command>
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Debug Solution/Scope/Form/Method Javascript Unit Test(s)"
            id="com.servoy.eclipse.jsunit.commands.debugScriptUnitTests"
            name="Run JS Unit Tests (mobile debug)">
      </command>
   </extension>
    <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
       <command
             commandId="com.servoy.eclipse.jsunit.commands.runScriptUnitTests"
             label="Run JS Unit Test(s)"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="com.servoy.eclipse.jsunit.selectionIsTestTargetButNotMobile">
             </reference>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.servoy.eclipse.ui.node.SimpleUserNode"
            class="com.servoy.eclipse.jsunit.AdapterFactory">
         <adapter
               type="com.servoy.eclipse.jsunit.SolutionUnitTestTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.servoy.eclipse.jsunit.commands.runScriptUnitTests"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+U">
      </key>
      <key
            commandId="com.servoy.eclipse.jsunit.commands.debugScriptUnitTests"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+D">
      </key>
   </extension>
<!-- these don't seem to be available or needed any more
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.servoy.eclipse.ui.DesignPerspective">
         <actionSet
               id="com.servoy.eclipse.jsunit.actions.runScriptUnitAction">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="com.servoy.eclipse.jsunit.actions.runScriptUnitAction">
         </actionSet>
      </perspectiveExtension>
   </extension> -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="js"
            id="com.servoy.eclipse.jsunit.jsToJava"
            name="A way of getting failure/error traces in JUnit to jump to JS files"
            priority="low">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.servoy.eclipse.jsunit.JavaScript"
            name="JavaScript">
      </category>
      <view
            category="com.servoy.eclipse.jsunit.JavaScript"
            class="org.eclipse.jdt.internal.junit.ui.TestRunnerViewPart"
            icon="icons/junit.gif"
            id="org.eclipse.jdt.junit.ResultView"
            name="JUnit"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.dltk.testing.engine">
	   <testingEngine
	         class="com.servoy.eclipse.jsunit.scriptunit.JSUnitTestingEngine"
	         id="com.servoy.eclipse.jsunit.scriptunit.JSUnitTestingEngine"
	         name="JSUnit"
	         nature="com.servoy.eclipse.core.ServoyProject"
	         priority="20">
	   </testingEngine>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.servoy.eclipse.jsunit.launch.JSUnitLaunchConfigurationDelegate"
            id="com.servoy.eclipse.jsunit.launch"
            modes="debug"
            name=" Servoy JSunit"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/jsunit.png"
	        configTypeID="com.servoy.eclipse.jsunit.launch"
	        id="com.servoy.eclipse.jsunit.launch.icon">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		  <launchConfigurationTabGroup
		      id="com.servoy.eclipse.jsunit.launch.tabGroup"
		      type="com.servoy.eclipse.jsunit.launch"
		      class="com.servoy.eclipse.jsunit.launch.JSUnitLaunchConfigurationTabGroup">
		  </launchConfigurationTabGroup>
 	</extension>
 <extension
       point="org.eclipse.ui.commandImages">
    <image
          commandId="com.servoy.eclipse.jsunit.commands.runScriptUnitTests"
          icon="icons/jsunit.png">
    </image>
    <image
          commandId="com.servoy.eclipse.jsunit.commands.debugScriptUnitTests"
          icon="icons/jsunit.png">
    </image>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.servoy.eclipse.jsunit.actions.RunJSUnitHandler"
          commandId="com.servoy.eclipse.jsunit.commands.runScriptUnitTests">
       <activeWhen>
          <with
                variable="com.servoy.eclipse.core.mobileState">
             <equals
                   value="false">
             </equals>
          </with>
       </activeWhen>
    </handler>
 </extension>
   <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="com.servoy.eclipse.jsunit.selectionIsTestTarget">
       <with
             variable="selection">
             <iterate
                   ifEmpty="false">
                <adapt
                      type="com.servoy.eclipse.jsunit.SolutionUnitTestTarget">
                </adapt>
             </iterate>
             <count
                   value="1">
             </count>
       </with>
    </definition>
    <definition
          id="com.servoy.eclipse.jsunit.selectionIsTestTargetButNotMobile">
       <and>
          <with
                variable="com.servoy.eclipse.core.mobileState">
             <equals
                   value="false">
             </equals>
          </with>
          <reference
                definitionId="com.servoy.eclipse.jsunit.selectionIsTestTarget">
          </reference>
       </and>
    </definition>
 </extension>
   <extension
         point="com.servoy.eclipse.jsunit.launchConfigurationProvider">
      <launchConfigurationProvider
            class="com.servoy.eclipse.jsunit.actions.SmartClientTestConfigurationProvider"
            launchConfigurationID="com.servoy.eclipse.jsunit.launch">
      </launchConfigurationProvider>
   </extension>
   <extension
         point="servoy_debug.debugClientProvider">
      <debugClientProvider
            class="com.servoy.eclipse.jsunit.smart.DebugClientPovider"
            debugClientTypeID="com.servoy.eclipse.jsunit.smart.client">
      </debugClientProvider>
   </extension>
</plugin>
