.outline {
	overflow: auto;
	visibility: hidden;
	background-color: white;
	z-index: 1
}

ul.tree, ul.tree ul {
  list-style-type: none;
  background: url(http://odyniec.net/articles/turning-lists-into-trees/vline.png) repeat-y;
  margin: 0;
  padding: 0;
}

ul.tree ul {
  margin-left: 10px;
}

ul.tree li {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url(http://odyniec.net/articles/turning-lists-into-trees/node.png) no-repeat;
}

ul.tree li:last-child {
  background: url(http://odyniec.net/articles/turning-lists-into-trees/lastnode.png) no-repeat;
}