.palette {
	color: #000;
	border: 0px solid #C0C0C0;
	border-right-width: 1px;
	padding-top: 6px;
	overflow: auto
}

.palette-heading {
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin: .3em 0px
}

.palette-heading span {
	padding-right: 10px
}

.palette div {
	overflow: hidden;
	transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.palette ul {
	list-style-type: none;
	padding-left: 12px;
	font-weight: 400;
	font-size: 12px;
	cursor: copy
}

.palette li {
	padding-top: 3px
}

.palette img {
	width: 1em;
	height: 1em;
	display: inline-block;
	visibility: hidden;
	margin-right: 4px;
}

.palette img[src] {
	visibility: visible
}