.resize-editor-width {
    width: 2px;
    height: 100%;
    cursor: ew-resize;
    background-color: #e5e5e5;
    position: relative;
    left: 100%;
}

.resize-editor-width:HOVER {
    background-color: #CCC;
}