<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.servoy.eclipse.designer.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.servoy.eclipse.designer.editor.VisualFormEditor"
            contributorClass="com.servoy.eclipse.designer.editor.ActionBarContributor"
            default="true"
            extensions="frm"
            icon="icons/designer.gif"
            id="com.servoy.eclipse.designer.editor.VisualFormEditor"
            matchingStrategy="com.servoy.eclipse.core.resource.PersistMatchingStrategy"
            name="Form Editor">
            <contentTypeBinding
               contentTypeId="com.servoy.eclipse.core.resource.form"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.awt.Dimension"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.AbstractBase"
            class="com.servoy.eclipse.designer.property.RestorerAdapterFactory">
            <adapter type="com.servoy.eclipse.ui.property.IRestorer"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.FormElementGroup"
            class="com.servoy.eclipse.designer.property.RestorerAdapterFactory">
            <adapter type="com.servoy.eclipse.ui.property.IRestorer"/>
      </factory>
      <factory
            adaptableType="java.awt.Point"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.FormElementGroup"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.ui.node.SimpleUserNode"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.editparts.AbstractGraphicalEditPart"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.ui.editors.PersistEditor"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.designer.property.PersistContext"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.designer.property.PersistContext"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.j2db.persistence.IPersist"/>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.EditPart"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.core.resources.IResource"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.ui.editors.PersistEditor"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.core.resources.IResource"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.ui.node.SimpleUserNode"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.j2db.persistence.IPersist"/>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.EditPart"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.j2db.persistence.IPersist"/>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.EditPart"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.j2db.persistence.FormElementGroup"/>
      </factory>
      <factory
            adaptableType="com.servoy.eclipse.ui.editors.PersistEditor"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.j2db.persistence.IPersist"/>
      </factory>
      <factory
            adaptableType="org.eclipse.gef.EditPart"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.eclipse.ui.actions.Openable"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.IPersist"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="com.servoy.eclipse.ui.actions.Openable"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.IPersist"
            class="com.servoy.eclipse.designer.property.DesignerPropertyAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.servoy.eclipse.designer.PlaceElementsActionSet"
            label="Place Elements"
            visible="true">
         <menu
               id="com.servoy.eclipse.ui.actionsMenu"
               label="&amp;Actions">
            <separator
                  name="elements">
            </separator>
         </menu>
         <action
               class="com.servoy.eclipse.designer.actions.ApplyTemplateActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.applyTemplateAction"
               icon="icons/template.gif"
               id="com.servoy.eclipse.designer.action.applyTemplateAction"
               label="Place Template..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Template..."/>
         <action
               class="com.servoy.eclipse.designer.actions.AddTabActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addTabAction"
               icon="icons/tabs.gif"
               id="com.servoy.eclipse.designer.action.addTabAction"
               label="Place TabPanel..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place TabPanel..."/>
         <action
               class="com.servoy.eclipse.designer.actions.AddSplitPaneActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addSplitPaneAction"
               icon="icons/split.gif"
               id="com.servoy.eclipse.designer.action.addSplitPaneAction"
               label="Place SplitPane..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place SplitPane..."/>               
         <action
               class="com.servoy.eclipse.designer.actions.AddMediaActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addMedaAction"
               icon="icons/image.gif"
               id="com.servoy.eclipse.designer.action.addMedaAction"
               label="Place Image..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Image..."/>
         <action
               class="com.servoy.eclipse.designer.actions.AddBeanActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addBeanAction"
               icon="icons/bean.gif"
               id="com.servoy.eclipse.designer.action.addBeanAction"
               label="Place Bean..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Bean..."/>
         <action
               class="com.servoy.eclipse.designer.actions.AddPortalActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addPortalAction"
               icon="icons/portal.gif"
               id="com.servoy.eclipse.designer.action.addPortalAction"
               label="Place Portal..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Portal..."/>
         <action
               class="com.servoy.eclipse.designer.actions.AddButtonActionDelegate"
               icon="icons/button.gif"
               id="com.servoy.eclipse.designer.action.addButtonAction"
               definitionId="com.servoy.eclipse.designer.action.addButtonAction"
               label="Place Button"
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Button"/>
         <action
               class="com.servoy.eclipse.designer.actions.AddFieldActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addFieldAction"
               icon="icons/field.gif"
               id="com.servoy.eclipse.designer.action.addFieldAction"
               label="Place Field..."
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Field..."/>
         <action
               class="com.servoy.eclipse.designer.actions.AddLabelActionDelegate"
               definitionId="com.servoy.eclipse.designer.action.addLabelAction"
               icon="icons/text.gif"
               id="com.servoy.eclipse.designer.action.addLabelAction"
               label="Place Label"
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Place Label"/>
         <action
               class="com.servoy.eclipse.designer.actions.AddHorizontalLineActionDelegate"
               icon="icons/hline.gif"
               id="com.servoy.eclipse.designer.action.addHLineAction"
               label="Place Horizontal Line"
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Horizontal Line"/>
         <action
               class="com.servoy.eclipse.designer.actions.AddVerticalLineActionDelegate"
               icon="icons/vline.gif"
               id="com.servoy.eclipse.designer.action.addVLineAction"
               label="Place Vertical Line"
               menubarPath="com.servoy.eclipse.ui.actionsMenu/elements"
               state="false"
               style="push"
               tooltip="Vertical Line"/>
      </actionSet>
      <actionSet
            id="com.servoy.eclipse.designer.PlaceShapesActionSet"
            label="Place Shapes"
            visible="true">
         <action
               class="com.servoy.eclipse.designer.actions.AddBorderPanelActionDelegate"
               icon="icons/titledBorder.gif"
               id="com.servoy.eclipse.designer.action.addBorderPanelAction"
               label="Place Border panel"
               state="false"
               style="push"
               tooltip="Place Border Panel"/>
         <action
               class="com.servoy.eclipse.designer.actions.AddRoundedRectangleActionDelegate"
               icon="icons/rrect.gif"
               id="com.servoy.eclipse.designer.action.addRoundedRectangleAction"
               label="Place Rounded Rectangle"
               state="false"
               style="push"
               tooltip="Place Rounded Rectangle"/>
         <action
               class="com.servoy.eclipse.designer.actions.AddRectangleActionDelegate"
               icon="icons/rectangle.gif"
               id="com.servoy.eclipse.designer.action.addRectangleAction"
               label="Place Rectangle"
               state="false"
               style="push"
               tooltip="Place Rectangle"/>
         <action
               class="com.servoy.eclipse.designer.actions.AddCircleActionDelegate"
               icon="icons/circle.gif"
               id="com.servoy.eclipse.designer.action.addCircleAction"
               label="Place Circle"
               state="false"
               style="push"
               tooltip="Place Circle"/>
      </actionSet>
       <actionSet
            id="com.servoy.eclipse.designer.open_actions"
            label="Open Form Editor"
            visible="true">
         <action
               class="com.servoy.eclipse.designer.actions.OpenFormInDesignerActionDelegate"
               id="com.servoy.eclipse.designer.command.showDesigner"
               definitionId="com.servoy.eclipse.designer.command.showDesigner"
               label="Open in Form Editor"
               style="push"
               tooltip="Open in Form Editor">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.servoy.eclipse.ui.DesignPerspective">
         <actionSet
               id="com.servoy.eclipse.designer.PlaceElementsActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.delete"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="BS">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.applyTemplateAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+E">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addTabAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+T">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addSplitPaneAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+S">
      </key>      
      <key
            commandId="com.servoy.eclipse.designer.action.addMedaAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+I">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addBeanAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+N">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addPortalAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+P">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addButtonAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+B">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addFieldAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+F">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.action.addLabelAction"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+M1+L">
      </key>
      <key
          commandId="com.servoy.eclipse.designer.command.showDesigner"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+A">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.anchorTop"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+-">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.anchorRight"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+*">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.anchorBottom"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1++">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.anchorLeft"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.group"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.ungroup"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.sameheight"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+H">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.samewidth"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+W">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.bringtofront"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+[">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.sendtoback"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+]">
      </key>
      <key
            commandId="com.servoy.eclipse.designer.settabseq"
            contextId="com.servoy.eclipse.designer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.NewWizardCommandHandler"
            id="com.servoy.eclipse.designer.newWizardCommandId"
            name="Open Wizard Command">
         <commandParameter
               id="com.servoy.eclipse.designer.wizardType"
               name="WizardType"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.applyTemplateAction"
            description="Place Template"
            name="Place Template">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addTabAction"
            description="Place TabPanel"
            name="Place TabPanel">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addSplitPaneAction"
            description="Place SplitPane"
            name="Place SplitPane">
      </command>      
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addMedaAction"
            description="Place Image"
            name="Place Image">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addBeanAction"
            description="Place Bean"
            name="Place Bean">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addPortalAction"
            description="Place Portal"
            name="Place Portal">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addButtonAction"
            description="Place Button"
            name="Place Button">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addFieldAction"
            description="Place Field"
            name="Place Field">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            id="com.servoy.eclipse.designer.action.addLabelAction"
            description="Place Label"
            name="Place Label">
      </command>
      <category
            id="com.servoy.eclipse.designer.category"
            name="Servoy">
      </category>
      <command
          description="Show form in Form Editor"
          id="com.servoy.eclipse.designer.command.showDesigner"
          name="Show form in Form Editor">
       </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringTop"
            id="com.servoy.eclipse.designer.anchorTop"
            name="Anchor Top">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringRight"
            id="com.servoy.eclipse.designer.anchorRight"
            name="Anchor Right">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringBottom"
            id="com.servoy.eclipse.designer.anchorBottom"
            name="Anchor Bottom">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringLeft"
            id="com.servoy.eclipse.designer.anchorLeft"
            name="Anchor Left">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ToggleGroupingActionDelegateHandler$Group"
            id="com.servoy.eclipse.designer.group"
            name="Group">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ToggleGroupingActionDelegateHandler$Ungroup"
            id="com.servoy.eclipse.designer.ungroup"
            name="Ungroup">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.SameSizeActionDelegateHandler$Width"
            id="com.servoy.eclipse.designer.samewidth"
            name="Same Width">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.SameSizeActionDelegateHandler$Height"
            id="com.servoy.eclipse.designer.sameheight"
            name="Same Height">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ZOrderActionDelegateHandler$ToFront"
            id="com.servoy.eclipse.designer.bringtofront"
            name="Bring to front">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.ZOrderActionDelegateHandler$ToBack"
            id="com.servoy.eclipse.designer.sendtoback"
            name="Send to back">
      </command>
      <command
            categoryId="com.servoy.eclipse.designer.category"
            defaultHandler="com.servoy.eclipse.designer.editor.commands.TabSequenceActionDelegateHandler"
            id="com.servoy.eclipse.designer.settabseq"
            name="Set Tab Sequence">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.servoy.eclipse.ui.preference"
            class="com.servoy.eclipse.designer.preferences.DesignerPreferencePage"
            id="com.servoy.eclipse.ui.designer"
            name="Form Editor">
      </page>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution
            objectClass="com.servoy.j2db.persistence.IPersist"
            adaptable="true"
            id="com.servoy.eclipse.ui.OpenDesignerContributions">
         <action
               class="com.servoy.eclipse.designer.actions.OpenFormInDesignerActionDelegate"
               definitionId="com.servoy.eclipse.designer.command.showDesigner"
               enablesFor="1"
               icon="icons/designer.gif"
               id="com.servoy.eclipse.designer.OpenFormDesignerAction"
               label="Open in Form Editor"
               menubarPath="open.ext"
               state="false"
               style="push"
               tooltip="Open in Form Editor">
         </action>
         <visibility>
            <objectClass
                  name="com.servoy.j2db.persistence.Form">
            </objectClass>
         </visibility>
      </objectContribution>
      <viewerContribution
            id="com.servoy.eclipse.designer.editor.DesignerPreferences"
            targetID="#FormDesignerContext">
         <action
               class="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringLeft"
               definitionId="com.servoy.eclipse.designer.anchorLeft"
               id="com.servoy.eclipse.designer.action.anchorLeft"
               label="Anchor Left"
               menubarPath="group.anchoring"
               style="toggle"
               tooltip="Toggle Left Anchoring">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringBottom"
               definitionId="com.servoy.eclipse.designer.anchorBottom"
               id="com.servoy.eclipse.designer.action.anchorBottom"
               label="Anchor Bottom"
               menubarPath="group.anchoring"
               style="toggle"
               tooltip="Toggle Bottom Anchoring">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringRight"
               definitionId="com.servoy.eclipse.designer.anchorRight"
               id="com.servoy.eclipse.designer.action.anchorRight"
               label="Anchor Right"
               menubarPath="group.anchoring"
               style="toggle"
               tooltip="Toggle Right Anchoring">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ToggleAnchoringActionDelegateHandler$ToggleAnchoringTop"
               definitionId="com.servoy.eclipse.designer.anchorTop"
               id="com.servoy.eclipse.designer.action.anchorTop"
               label="Anchor Top"
               menubarPath="group.anchoring"
               style="toggle"
               tooltip="Toggle Top Anchoring">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ToggleGroupingActionDelegateHandler$Ungroup"
               definitionId="com.servoy.eclipse.designer.ungroup"
               icon="icons/ungroup.gif"
               id="com.servoy.eclipse.designer.action.ungroup"
               label="Ungroup"
               menubarPath="group.grouping"
               style="push"
               tooltip="Ungroup elements">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ToggleGroupingActionDelegateHandler$Group"
               definitionId="com.servoy.eclipse.designer.group"
               icon="icons/group.gif"
               id="com.servoy.eclipse.designer.action.group"
               label="Group"
               menubarPath="group.grouping"
               style="push"
               tooltip="Group elements">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.SameSizeActionDelegateHandler$Height"
               definitionId="com.servoy.eclipse.designer.sameheight"
               icon="icons/same_height.gif"
               id="com.servoy.eclipse.designer.action.sameheight"
               label="Same Height"
               menubarPath="group.samesize"
               style="push"
               tooltip="Set elements same height">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.SameSizeActionDelegateHandler$Width"
               definitionId="com.servoy.eclipse.designer.samewidth"
               icon="icons/same_width.gif"
               id="com.servoy.eclipse.designer.action.samewidth"
               label="Same Width"
               menubarPath="group.samesize"
               style="push"
               tooltip="Set elements same width">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ZOrderActionDelegateHandler$ToBack"
               definitionId="com.servoy.eclipse.designer.sendtoback"
               icon="icons/sendtoback.gif"
               id="com.servoy.eclipse.designer.action.sendtoback"
               label="Send to back"
               menubarPath="group.z.order"
               style="push"
               tooltip="Send elements to the back">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.ZOrderActionDelegateHandler$ToFront"
               definitionId="com.servoy.eclipse.designer.bringtofront"
               icon="icons/bringtofront.gif"
               id="com.servoy.eclipse.designer.action.bringtofront"
               label="Bring to front"
               menubarPath="group.z.order"
               style="push"
               tooltip="Bring elements to the front">
         </action>
         <action
               class="com.servoy.eclipse.designer.editor.commands.TabSequenceActionDelegateHandler"
               definitionId="com.servoy.eclipse.designer.settabseq"
               icon="icons/th_horizontal.gif"
               id="com.servoy.eclipse.designer.action.settabseq"
               label="Set Tab Sequence"
               menubarPath="org.eclipse.gef.group.rest"
               style="push"
               tooltip="Set Tab Sequence of selected elements">
         </action>
         <action
               class="com.servoy.eclipse.designer.actions.ShowDesignerPreferencesActionDelegate"
               definitionId="com.servoy.eclipse.designer.command.showDesignerPrefences"
               id="com.servoy.eclipse.designer.showDesignerPrefences"
               label="Preferences..."
               menubarPath="show.ext"
               tooltip="Set designer preferences">
         </action>
      </viewerContribution>
   </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               id="com.servoy.eclipse.designer.context"
               name="Editing Forms"
               parentId="org.eclipse.ui.contexts.window">
         </context>
      </extension>
</plugin>
