.MPartStack {
	swt-simple: true;
}

.MTrimmedWindow.topLevel {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

#PerspectiveSwitcher {
	eclipse-perspective-keyline-color: #F0F0F0 #F0F0F0;
}

.MToolBar.Draggable {
	handle-image:  url(./dragHandle.png);
}

.MToolControl.Draggable {
	handle-image:  url(./dragHandle.png);
}

.ModifiedDragFeedback {
	background-color: #A0A000;
}

#svybackground {
	background-color: #FFFFFF;
}

 * {
	background-color: #FFFFFF;
}

Button[style~='SWT.PUSH']  {
    background-color: unset;
    color: unset;
}

Table, Tree {
	swt-lines-visible: false;
}

.svyNatTable {
	min-height: 300px;
	min-width: 600px;
}

.svyNatTable > .styleClass,  .svyNatTable > .headertext{
	text-align: center;
}

.svyNatTable:select {
    painter-resolution: true;
	cell-background-color:  #e7f1ff;
}

.svyNatTable > .COLUMN_HEADER {
	painter-resolution: true;
	cell-background-color:  #e7f1ff;
	padding: 2;
	render-grid-lines: false;
	row-height: auto;
	text-trim: false;
	color: #4C4E52;
	/* column-width: auto; */
	text-align: center;
}


.svyNatTable > .COLUMN_0 {
	padding-left: 5px;
	text-align: left;
}
