<h4 mat-dialog-title [class]="class"><b>{{ title }}</b></h4>
<mat-dialog-content>
    <mat-form-field class="fullWidth" *ngIf="class==='type-input' || class === 'type-select'; else displaySimpleDialog">
        <mat-label *ngIf="message != null"><div [innerHTML]="message"></div></mat-label>
        <input matInput *ngIf="class==='type-input'" [(ngModel)]="retValue">
        <mat-select *ngIf="class==='type-select'" [(ngModel)]="retValue">
            <div *ngFor="let myValue of values">
                <mat-option [value]="myValue">{{ myValue }}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <ng-template #displaySimpleDialog>
        <mat-label *ngIf="message != null"><div [innerHTML]="message"></div></mat-label>
        <hr style="border: 2px solid" [class]="class">
    </ng-template> 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div *ngFor="let text of btnsText; let idx = index">
        <button
            mat-raised-button 
            [color]="getButtonColor(idx, text)"
            (click)="close(text)">{{ text }}
        </button>
    </div>
</mat-dialog-actions>