@if (incudeAutoFillHack) {
  <div style="overflow: hidden; height:0px;width:0px;background: transparent;" data-description="dummyPanel for Chrome auto-fill issue">
    username<input type="text" style="height:0px;width:0px;background: transparent; color: transparent;border: none;" data-description="dummyUsername" tabindex="-1" autocomplete="username">
    password<input type="password" style="height:0px;width:0px;background: transparent; color: transparent;border: none;" data-description="dummyPassword" tabindex="-1" autocomplete="current-password">
  </div>
}
<div id="mainBody" [sabloTabseq]="1" [sabloTabseqConfig]="{root: true}">
  <!--The content below is only a placeholder and can be replaced.-->
  @if ((this.websocketService.reconnectingEmitter | async)) {
    <div class="svy-reconnecting" >{{i18n_reconnecting_feedback}}</div>
  }
  @if (hasDefaultNavigator() || navigatorForm != null) {
    <div class="svy-main-window-navigator-container"  [ngStyle]="getNavigatorStyle()">
      @if (hasDefaultNavigator()) {
        <svy-default-navigator [name]="mainForm"></svy-default-navigator>
      }
      @if (navigatorForm != null) {
        <svy-form [name]="navigatorForm"></svy-form>
      }
    </div>
  }
  @if (mainForm != null) {
    <div id="mainForm" class="svy-main-window-container" autoscroll="true" [ngStyle]="getFormStyle()"  [sabloTabseq]="1" [sabloTabseqConfig]="{container: true, reservedGap: 5000}">
      <svy-form [name]="mainForm"></svy-form>
    </div>
  }
  @if (sessionProblem != null) {
    <session-view></session-view>
  }
  @if ((this.loadingIndicatorService.showLoadingIndicator | async)) {
    <loading-indicator></loading-indicator>
  }
</div>
