<div id="mainBody" [sabloTabseq]="1" [sabloTabseqConfig]="{root: true}" [ngClass]="{'svy-reconnecting' : (this.servoyService.reconnectingEmitter | async) === true}" >
<!--The content below is only a placeholder and can be replaced.-->
<div sabloReconnectingFeedback></div>
<div class="svy-main-window-navigator-container"  *ngIf="hasDefaultNavigator() || navigatorForm != null"  [ngStyle]="getNavigatorStyle()">
<svy-default-navigator [name]="mainForm" *ngIf="hasDefaultNavigator()"></svy-default-navigator>
<svy-form [name]="navigatorForm" *ngIf="navigatorForm != null"></svy-form>
</div>
<div id="mainForm" class="svy-main-window-container" autoscroll="true" svy-autosave   [ngStyle]="getFormStyle()"  *ngIf="mainForm != null" [sabloTabseq]="1" [sabloTabseqConfig]="{container: true}">
<svy-form [name]="mainForm"></svy-form>
</div> 
<session-view *ngIf="sessionProblem != null"></session-view>
</div> 
