#svybackground {
	background-color: #2F2F2F;
}

 * , #PerspectiveSpacer, ScalingHyperlink {
	background-color: #2F2F2F;
}

Text {
	background: #2F2F2F;
}

Table, Tree {
	swt-lines-visible: false;
}