#svybackground {
	background-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND';
}

#PerspectiveSwitcher {
	eclipse-perspective-keyline-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND' '#org-eclipse-ui-workbench-DARK_BACKGROUND';
}

ExpandBar {
	color: #330099;
}

ExpandableComposite {
    swt-titlebar-color: #eee;
    tb-toggle-hover-color: #eee;
    tb-toggle-color: #eee;
}

* {
	background-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND';
}

Table, Tree {
	swt-lines-visible: false;
}
ContributedPartRenderer-1#org-eclipse-ui-views-PropertySheet > Composite > PageBook > Tree,
ContributedPartRenderer-1#org-eclipse-ui-views-PropertySheet > Composite > PageBook > Composite> Tree {
	swt-lines-visible: true;
}

.svyNatTable {
	min-height: 300px;
	text-trim: false;
	text-wrap: true;
	
	background-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND';
	cell-background-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND';
	color: #F8F8F8;
	invert-icons: true;
	painter-resolution: false;
}

.svyNatTable > .styleClass,  .svyNatTable > .headertext{
	text-align: center;
}

.svyNatTable > .delete {
	cell-background-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND';
}

.svyNatTable :select {
	cell-background-color: '#org-eclipse-ui-workbench-ACTIVE_TAB_OUTLINE_COLOR';
}

.svyNatTable > .COLUMN_HEADER {
	painter-resolution: true;
	padding: 2;
	render-grid-lines: false;
	row-height: 30px;
	color: #AAAAAA;
	/* text-align: center; */
}

.svyNatTable > .COLUMN_0 {
	painter-resolution: true;
	padding-left: 5px;
	text-align: left;
}

.svyNatTable > .containedForm, .svyNatTable > .relationName {
	text-trim: false;
}

ToolItem {
	background-color: unset;
}

Button, Tree[style~='SWT.CHECK'], Tree[style~='SWT.RADIO'] {
	background-color: #2f2f1f; 
}

Button[style~='SWT.RADIO'], Button[style~='SWT.CHECK'] {
	background-color: '#org-eclipse-ui-workbench-DARK_BACKGROUND';
}