* {
  transition: none !important;
  animation: none !important;
}

.user-selection-off {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.highlight_element {
    outline:1px solid lightblue;
}

.drop_highlight {
	outline:2px solid #c2ecc2;
}

.invisible_element {
    opacity: 0.3;
    border: 2px dashed;
}

.inherited_element {
    outline:1px dotted red;
}

.maxLevelDesign > * {
	display: none !important;
}

.maxLevelDesign {
	background-repeat: no-repeat;
	background-position: center;
}

.containerChildren1 {
	background-image: url("/assets/designer/images/container-with-1-child.png");
}

.containerChildren2 {
	background-image: url("/assets/designer/images/container-with-2-children.png");
}

.containerChildren3 {
	background-image: url("/assets/designer/images/container-with-3-children.png");
}

.containerChildren4 {
	background-image: url("/assets/designer/images/container-with-4-children.png");
}

.containerChildren5 {
	background-image: url("/assets/designer/images/container-with-5-children.png");
}

.containerChildren6 {
	background-image: url("/assets/designer/images/container-with-6-children.png");
}

.containerChildren7 {
	background-image: url("/assets/designer/images/container-with-7-children.png");
}

.containerChildren8 {
	background-image: url("/assets/designer/images/container-with-8-children.png");
}

.containerChildren9 {
	background-image: url("/assets/designer/images/container-with-9-children.png");
}

.containerChildren10 {
	background-image: url("/assets/designer/images/container-with-10-children.png");
}

.variant_item {
	margin: 7px;
}

.variants_container {
	margin: 2px;
}

.variants_container > .variant_item {
    display: flex;
} 

.variants_container > .variant_item > * {
    display: flex;
}

.svy-form.svy-respform > .highlight_element:last-child {
    margin-bottom: 1px;
}