# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For Angular's browser support policy, please see:
# https://angular.dev/reference/versions#browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

Chrome >= 119
ChromeAndroid >= 119
Edge >= 119
Firefox >= 119
FirefoxAndroid >= 119
Safari >= 17.0
iOS >= 17.0
