<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="eclipse_sources" sequenceNumber="60">
    <locations>    
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="net.sourceforge.sqlexplorer.feature.feature.group" version="3.6.2"/>
            <repository location="https://developer.servoy.com/sqlexplorer/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://dl.equo.dev/chromium-swt-ee/servoy/p2/swt/128.0.16/repository"/>
            <unit id="com.equo.chromium.feature.feature.group" version="128.0.16"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://dl.equo.dev/chromium-swt-ee/servoy/p2/cef/128.0.16.media/repository"/>
            <unit id="com.equo.chromium.cef.feature.feature.group" version="128.0.16"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://dl.equo.dev/chromium-swt-ee/servoy/p2/cef/128.0.16-arm.media/repository"/>
            <unit id="com.equo.chromium.cef.arm.feature.feature.group" version="128.0.16"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/nattable/releases/2.5.0/repository/"/>
            <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="2.5.0.202411280718"/>
            <unit id="org.eclipse.nebula.widgets.nattable.core.feature.source.feature.group" version="2.5.0.202411280718"/>
            <unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="2.5.0.202411280718"/>
            <unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.source.feature.group" version="2.5.0.202411280718"/>
            <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="2.5.0.202411280718"/>
            <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.source.feature.group" version="2.5.0.202411280718"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://developer.servoy.com/p2_repository/dltk_repository/2025.09/"/>
            <unit id="org.eclipse.dltk.core.servoy.feature.group" version="5.1.1.202507231516"/>
            <unit id="org.eclipse.dltk.javascript.servoy.feature.group" version="5.1.1.202507231519"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/eclipse/updates/4.36/"/>
            <unit id="org.eclipse.emf.ecore.feature.group" version="2.40.0.v20250414-1351"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2900.v20250519-0528"/>
            <unit id="org.eclipse.sdk.ide" version="4.36.0.I20250528-1830"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2025-06"/>
            <unit id="org.eclipse.egit.feature.group" version="7.3.0.202506031305-r"/>
            <unit id="org.eclipse.epp.mpc.feature.group" version="1.12.1.v20250508-2126"/>
            <unit id="org.eclipse.jgit.feature.group" version="7.3.0.202506031305-r"/>
            <unit id="org.eclipse.jgit.http.apache.feature.group" version="7.3.0.202506031305-r"/>
            <unit id="org.eclipse.jgit.lfs.feature.group" version="7.3.0.202506031305-r"/>
            <unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.37.0.v202502280419"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tm4e/releases/0.15.0/"/>
            <unit id="org.eclipse.tm4e.feature.feature.group" version="0.15.0.202506111431"/>
            <unit id="org.eclipse.tm4e.language_pack.feature.feature.group" version="0.15.0.202506111431"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tools/gef/classic/release/3.24.0"/>
            <unit id="org.eclipse.draw2d.feature.group" version="3.24.0.202505280821"/>
            <unit id="org.eclipse.draw2d.sdk.feature.group" version="3.24.0.202505280821"/>
            <unit id="org.eclipse.gef.feature.group" version="3.24.0.202505280821"/>
            <unit id="org.eclipse.gef.sdk.feature.group" version="3.24.0.202505280821"/>
        </location>
        <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>com.auth0</groupId>
                    <artifactId>java-jwt</artifactId>
                    <version>4.5.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.auth0</groupId>
                    <artifactId>jwks-rsa</artifactId>
                    <version>0.22.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml.jackson.core</groupId>
                    <artifactId>jackson-annotations</artifactId>
                    <version>2.19.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml.jackson.core</groupId>
                    <artifactId>jackson-core</artifactId>
                    <version>2.19.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml.jackson.core</groupId>
                    <artifactId>jackson-databind</artifactId>
                    <version>2.19.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.fasterxml</groupId>
                    <artifactId>classmate</artifactId>
                    <version>1.7.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.github.scribejava</groupId>
                    <artifactId>scribejava-apis</artifactId>
                    <version>8.3.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.github.scribejava</groupId>
                    <artifactId>scribejava-core</artifactId>
                    <version>8.3.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.github.scribejava</groupId>
                    <artifactId>scribejava-java8</artifactId>
                    <version>8.3.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.github.ua-parser</groupId>
                    <artifactId>uap-java</artifactId>
                    <version>1.6.1-SERVOY</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.knuddels</groupId>
                    <artifactId>jtokkit</artifactId>
                    <version>1.1.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>jabsorb</artifactId>
                    <version>1.3.3.s1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>javax.transaction</artifactId>
                    <version>1.1.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>org.maven.ide.eclipse.grouplayout</artifactId>
                    <version>1.1.0.201005260935</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>org.skyscreamer.jsonassert</artifactId>
                    <version>1.5.1.v20170627</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>org.sweetlemonade.eclipse.json</artifactId>
                    <version>1.0.5</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>sj.jsonschemavalidation</artifactId>
                    <version>2.0.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.servoy</groupId>
                    <artifactId>tus-java-server</artifactId>
                    <version>3.0.0.s1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>com.thoughtworks.xstream</groupId>
                    <artifactId>xstream</artifactId>
                    <version>1.4.21</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>commons-codec</groupId>
                    <artifactId>commons-codec</artifactId>
                    <version>1.19.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>de.inetsoftware</groupId>
                    <artifactId>jlessc</artifactId>
                    <version>1.12.0.s1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>io.smallrye</groupId>
                    <artifactId>jandex</artifactId>
                    <version>3.3.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.activation</groupId>
                    <artifactId>jakarta.activation-api</artifactId>
                    <version>2.1.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.annotation</groupId>
                    <artifactId>jakarta.annotation-api</artifactId>
                    <version>3.0.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.el</groupId>
                    <artifactId>jakarta.el-api</artifactId>
                    <version>6.0.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.inject</groupId>
                    <artifactId>jakarta.inject-api</artifactId>
                    <version>1.0.5</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.mail</groupId>
                    <artifactId>jakarta.mail-api</artifactId>
                    <version>2.1.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.servlet.jsp</groupId>
                    <artifactId>jakarta.servlet.jsp-api</artifactId>
                    <version>4.0.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.websocket</groupId>
                    <artifactId>jakarta.websocket-api</artifactId>
                    <version>2.2.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.websocket</groupId>
                    <artifactId>jakarta.websocket-client-api</artifactId>
                    <version>2.2.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>jakarta.xml.bind</groupId>
                    <artifactId>jakarta.xml.bind-api</artifactId>
                    <version>2.3.3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>javax.persistence</groupId>
                    <artifactId>javax.persistence-api</artifactId>
                    <version>2.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>net.bytebuddy</groupId>
                    <artifactId>byte-buddy</artifactId>
                    <version>1.17.6</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-collections4</artifactId>
                    <version>4.5.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-compress</artifactId>
                    <version>1.28.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-dbcp2</artifactId>
                    <version>2.13.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-fileupload2-core</artifactId>
                    <version>2.0.0-M4</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-fileupload2-jakarta-servlet6</artifactId>
                    <version>2.0.0-M4</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-lang3</artifactId>
                    <version>3.18.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-pool2</artifactId>
                    <version>2.12.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.commons</groupId>
                    <artifactId>commons-text</artifactId>
                    <version>1.14.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.james</groupId>
                    <artifactId>apache-mime4j</artifactId>
                    <version>0.6</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.logging.log4j</groupId>
                    <artifactId>log4j-api</artifactId>
                    <version>2.25.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.logging.log4j</groupId>
                    <artifactId>log4j-core</artifactId>
                    <version>2.25.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.logging.log4j</groupId>
                    <artifactId>log4j-slf4j2-impl</artifactId>
                    <version>2.25.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.apache.logging.log4j</groupId>
                    <artifactId>log4j-jakarta-web</artifactId>
                    <version>2.25.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.bouncycastle</groupId>
                    <artifactId>bcpg-jdk18on</artifactId>
                    <version>1.81</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.bouncycastle</groupId>
                    <artifactId>bcpkix-jdk18on</artifactId>
                    <version>1.81</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.bouncycastle</groupId>
                    <artifactId>bcprov-jdk18on</artifactId>
                    <version>1.81</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.bouncycastle</groupId>
                    <artifactId>bcutil-jdk18on</artifactId>
                    <version>1.81</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.dom4j</groupId>
                    <artifactId>dom4j</artifactId>
                    <version>2.2.0</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.eclipse.birt.runtime</groupId>
                    <artifactId>org.w3c.css.sac</artifactId>
                    <version>1.3.1.v200903091627</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.freemarker</groupId>
                    <artifactId>freemarker</artifactId>
                    <version>2.3.34</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.hibernate.common</groupId>
                    <artifactId>hibernate-commons-annotations</artifactId>
                    <version>5.1.2.Final</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.hibernate</groupId>
                    <artifactId>hibernate-core</artifactId>
                    <version>5.6.15.Servoy3</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.jboss.logging</groupId>
                    <artifactId>jboss-logging</artifactId>
                    <version>3.6.1.Final</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.jsoup</groupId>
                    <artifactId>jsoup</artifactId>
                    <version>1.21.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.slf4j</groupId>
                    <artifactId>slf4j-api</artifactId>
                    <version>2.0.17</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.yaml</groupId>
                    <artifactId>snakeyaml</artifactId>
                    <version>2.4</version>
                    <type>jar</type>
                </dependency>
            </dependencies>
            <repositories>
                <repository>
                    <id>servoy2</id>
                    <url>https://developer.servoy.com/mvn_repository/</url>
                </repository>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </repository>
            </repositories>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>