<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="eclipse_sources" sequenceNumber="60">
    <locations>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="net.sourceforge.sqlexplorer.feature.feature.group" version="3.6.2"/>
		    <repository location="http://developer.servoy.com/sqlexplorer/"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
		    <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
		    <repository location="http://download.eclipse.org/tools/gef/updates/legacy/releases/4.0.0_gef-master_1952/"/>
	    </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://dl.maketechnology.io/chromium-swt-ee/servoy/p2"/>
            <unit id="org.eclipse.swt.chromium.feature.feature.group" version="76.0.15.202104120141"/>
            <unit id="com.make.chromium.cef.feature.feature.group" version="76.0.2.202012180206"/>
        </location>
        <location path="/crypt/servoy/github.master/servoy-eclipse/shipplugins/target/repository" type="Directory"/>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
		    <unit id="org.apache.commons.codec" version="1.14.0.v20200818-1422"/>
		    <unit id="org.apache.commons.codec.source" version="1.14.0.v20200818-1422"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository"/>
		    <unit id="org.antlr.runtime" version="3.0.0.v200803061811"/>
		    <unit id="org.antlr.runtime.source" version="3.0.0.v200803061811"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://developer.servoy.com/p2_repository/dltk_repository/2021.03/"/>
		    <unit id="org.eclipse.dltk.core.servoy.feature.group" version="5.1.1.202102231646"/>
		    <unit id="org.eclipse.dltk.javascript.servoy.feature.group" version="5.1.1.202102231648"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/eclipse/updates/4.19/"/>
		    <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1100.v20210209-1541"/>
		    <unit id="org.eclipse.sdk.ide" version="4.19.0.I20210303-1800"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.25.0.v20210114-1734"/>
    	    <unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.21.0.v202101180039"/>
	    </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/egit/updates-5.11"/>
            <unit id="org.eclipse.egit.feature.group" version="5.11.0.202103091610-r"/>
            <unit id="org.eclipse.jgit.feature.group" version="5.11.0.202103091610-r"/>
            <unit id="org.eclipse.jgit.http.apache.feature.group" version="5.11.0.202103091610-r"/>
            <unit id="org.eclipse.jgit.lfs.feature.group" version="5.11.0.202103091610-r"/>
        </location>
    </locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>