<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="eclipse_local">
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk18"/>
	<locations>
		<location path="${workspace_loc}/launchtarget" type="Directory"/>
    	<location followRepositoryReferences="false" includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
        	<repository location="https://download.eclipse.org/releases/2026-03"/>
        	<unit id="org.eclipse.m2e.feature.feature.group" version="2.10.100.20260205-1611"/>
    	</location>
    	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
        	<dependencies>
            	<dependency>
                	<groupId>io.modelcontextprotocol.sdk</groupId>
                	<artifactId>mcp-core</artifactId>
                	<version>1.1.2</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>io.modelcontextprotocol.sdk</groupId>
                	<artifactId>mcp-json-jackson2</artifactId>
                	<version>1.1.2</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>io.projectreactor</groupId>
                	<artifactId>reactor-core</artifactId>
                	<version>3.8.5</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.pdfbox</groupId>
                	<artifactId>fontbox</artifactId>
                	<version>3.0.6</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.pdfbox</groupId>
                	<artifactId>pdfbox-io</artifactId>
                	<version>3.0.6</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.pdfbox</groupId>
                	<artifactId>pdfbox</artifactId>
                	<version>3.0.6</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.tika</groupId>
                	<artifactId>tika-core</artifactId>
                	<version>3.2.3</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.tika</groupId>
                	<artifactId>tika-parser-text-module</artifactId>
                	<version>3.2.3</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.jspecify</groupId>
                	<artifactId>jspecify</artifactId>
                	<version>1.0.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.reactivestreams</groupId>
                	<artifactId>reactive-streams</artifactId>
                	<version>1.0.4</version>
                	<type>jar</type>
            	</dependency>
        	</dependencies>
        	<repositories>
            	<repository>
                	<id>servoy</id>
                	<url>https://developer.servoy.com/mvn_repository/</url>
            	</repository>
            	<repository>
                	<id>central</id>
                	<url>https://repo.maven.apache.org/maven2</url>
            	</repository>
        	</repositories>
    	</location>
	</locations>
</target>