<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="eclipse_egit" sequenceNumber="60">
    <locations>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="http://download.eclipse.org/eclipse/updates/4.11/"/>
		    <unit id="org.eclipse.sdk.ide" version="4.11.0.I20190307-0500"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="net.sourceforge.sqlexplorer.feature.feature.group" version="3.6.2"/>
		    <repository location="http://developer.servoy.com/sqlexplorer/"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="org.eclipse.emf.ecore.feature.group" version="2.16.0.v20181124-0637"/>
		    <repository location="http://download.eclipse.org/modeling/emf/emf/builds/release/2.16/"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
		    <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
		    <repository location="http://download.eclipse.org/tools/gef/updates/legacy/releases/4.0.0_gef-master_1952/"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="com.servoy.css.core.feature.group" version="2.0.0.201308221100"/>
		    <unit id="jabsorb" version="1.3.0.s2"/>
		    <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.2.0"/>
		    <unit id="org.apache.aries.util" version="1.1.3"/>
		    <unit id="org.apache.commons.io" version="2.6.0"/>
		    <unit id="org.apache.logging.log4j.api" version="2.11.2"/>
		    <unit id="org.apache.logging.log4j.core" version="2.11.2"/>
		    <unit id="org.apache.logging.log4j.slf4j18-impl" version="2.11.2"/>
		    <unit id="org.jsoup" version="1.11.3"/>
		    <unit id="slf4j.api" version="1.8.0.beta3-SNAPSHOT"/>
		    <repository location="http://developer.servoy.com/p2_repository/ship_plugins/2019.06/"/>
		    <unit id="javax.transaction" version="1.1.0"/>
		    <unit id="javax.websocket" version="1.1.0"/>
		    <unit id="org.apache.commons.commons-collections4" version="4.2.0"/>
		    <unit id="org.apache.commons.commons-dbcp2" version="2.5.0"/>
		    <unit id="org.apache.commons.commons-pool2" version="2.6.0"/>
		    <unit id="org.apache.commons.lang3" version="3.8.1"/>
		    <unit id="com.sun.activation.javax.activation" version="1.2.0"/>
		    <unit id="com.sun.mail.javax.mail" version="1.6.2"/>
		    <unit id="org.freemarker.freemarker" version="2.3.28.stable"/>
		    <unit id="org.maven.ide.eclipse.grouplayout" version="1.1.0.201005260935"/>
		    <unit id="sj.jsonschemavalidation" version="2.0.1"/>
		    <unit id="org.objectweb.asm.commons" version="7.0.0"/>
		    <unit id="org.objectweb.asm.tree.analysis" version="7.0.0"/>
		    <unit id="org.objectweb.asm.util" version="7.0.0"/>
		    <unit id="org.skyscreamer.jsonassert" version="1.5.1.v20170627"/>
		    <unit id="org.apache.commons.commons-text" version="1.6.0"/>
		    <unit id="org.sweetlemonade.eclipse.json" version="1.0.4"/>
		    <unit id="org.apache.james.apache-mime4j" version="0.6.0"/>
		    <unit id="de.inetsoftware.jlessc" version="1.8.0.201903221450"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="org.eclipse.dltk.core.servoy.feature.group" version="5.1.1.201902041412"/>
		    <unit id="org.eclipse.dltk.javascript.servoy.feature.group" version="5.1.1.201902041415"/>
		    <repository location="http://developer.servoy.com/p2_repository/dltk_repository/2019.06/"/>
	    </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="http://download.eclipse.org/egit/updates"/>
		    <unit id="org.eclipse.egit.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.egit.gitflow.feature.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.egit.source.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.egit.ui.smartimport" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.http.apache.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.lfs.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.pgm.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.pgm.source.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.source.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.ssh.apache.feature.group" version="5.3.0.201903130848-r"/>
		    <unit id="org.eclipse.jgit.ssh.apache.source.feature.group" version="5.3.0.201903130848-r"/>
	    </location>
	    <location path="${project_loc:/launch_targets}/libs_extra" type="Directory"/>
    </locations>
</target>