<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="eclipse_local">
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk18"/>
	<locations>
		<location path="${workspace_loc}/launchtarget" type="Directory"/>
    	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
        	<dependencies>
            	<dependency>
                	<groupId>com.fasterxml.jackson.core</groupId>
                	<artifactId>jackson-annotations</artifactId>
                	<version>2.20</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.fasterxml.jackson.core</groupId>
                	<artifactId>jackson-core</artifactId>
                	<version>2.20.1</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.fasterxml.jackson.core</groupId>
                	<artifactId>jackson-databind</artifactId>
                	<version>2.20.1</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.fasterxml.jackson.dataformat</groupId>
                	<artifactId>jackson-dataformat-yaml</artifactId>
                	<version>2.20.1</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.microsoft.onnxruntime</groupId>
                	<artifactId>onnxruntime-extensions.linux.x86_64</artifactId>
                	<version>0.15.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.microsoft.onnxruntime</groupId>
                	<artifactId>onnxruntime-extensions.macosx.aarch64</artifactId>
                	<version>0.15.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.microsoft.onnxruntime</groupId>
                	<artifactId>onnxruntime-extensions.macosx.x86_64</artifactId>
                	<version>0.15.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.microsoft.onnxruntime</groupId>
                	<artifactId>onnxruntime-extensions.win32.aarch64</artifactId>
                	<version>0.15.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.microsoft.onnxruntime</groupId>
                	<artifactId>onnxruntime-extensions.win32.x86_64</artifactId>
                	<version>0.15.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.microsoft.onnxruntime</groupId>
                	<artifactId>onnxruntime</artifactId>
                	<version>1.23.2</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>com.servoy</groupId>
                	<artifactId>onnx-models-bge-small-en</artifactId>
                	<version>1.5.0</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>commons-logging</groupId>
                	<artifactId>commons-logging</artifactId>
                	<version>1.3.5</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.pdfbox</groupId>
                	<artifactId>fontbox</artifactId>
                	<version>3.0.6</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.pdfbox</groupId>
                	<artifactId>pdfbox-io</artifactId>
                	<version>3.0.6</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.pdfbox</groupId>
                	<artifactId>pdfbox</artifactId>
                	<version>3.0.6</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.tika</groupId>
                	<artifactId>tika-core</artifactId>
                	<version>3.2.3</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.apache.tika</groupId>
                	<artifactId>tika-parser-text-module</artifactId>
                	<version>3.2.3</version>
                	<type>jar</type>
            	</dependency>
            	<dependency>
                	<groupId>org.yaml</groupId>
                	<artifactId>snakeyaml</artifactId>
                	<version>2.5</version>
                	<type>jar</type>
            	</dependency>
        	</dependencies>
        	<repositories>
            	<repository>
                	<id>servoy</id>
                	<url>https://developer.servoy.com/mvn_repository/</url>
            	</repository>
            	<repository>
                	<id>central</id>
                	<url>https://repo.maven.apache.org/maven2</url>
            	</repository>
        	</repositories>
    	</location>
	</locations>
</target>