<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="shortcuts" name="Shortcuts for debug smart client" schema="schema/shortcuts.exsd"/>
	
   <extension
         point="org.eclipse.dltk.launching.debuggingEngine">
      <engineContribution
            natureId="org.eclipse.dltk.javascript.core.nature">
         <engine
               class="com.servoy.eclipse.debug.ServoyDebuggableEngineFactory"
               description="ServoyDebuggableEngine"
               id="com.servoy.eclipse.debug.engine"
               name="ServoyDebuggableEngine"
               priority="100">
         </engine>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.servoy.eclipse.debug.javascript"
            targetID="org.eclipse.dltk.ui.outline">
         <action
               class="com.servoy.eclipse.debug.actions.DebugMethod"
               enablesFor="1"
               id="com.servoy.eclipse.debug.javascript.run"
               label="Debug Method"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.jdt.debug.ui.BreakpointViewActions"
            targetID="org.eclipse.debug.ui.BreakpointView">
         <action
               class="com.servoy.eclipse.debug.actions.ToggleGlobalExitBreak"
               icon="icons/exit_ovr.png"
               id="com.servoy.eclipse.debug.toggle.global.exitbreak"
               label="Toggle Global ExitBreak"
               style="toggle"
               toolbarPath="javascriptGlobalBreakpoints"
               tooltip="Toggle Global ExitBreak">
         </action>
         <action
               class="com.servoy.eclipse.debug.actions.ToggleGlobalEntryBreak"
               icon="icons/entry_ovr.png"
               id="com.servoy.eclipse.debug.toggle.global.entrybreak"
               label="Toggle Global EntryBreak"
               style="toggle"
               toolbarPath="javascriptGlobalBreakpoints"
               tooltip="Toggle Global EntryBreak">
         </action>
         <action
               class="com.servoy.eclipse.debug.actions.ToggleGlobalExceptionBreak"
               icon="icons/jexception_obj.png"
               id="com.servoy.eclipse.debug.toggle.global.exceptionbreak"
               label="Toggle Global Exception Break"
               style="toggle"
               toolbarPath="javascriptGlobalBreakpoints"
               tooltip="Toggle Global ExceptionBreak">
         </action>
      </viewContribution>
      <viewContribution
            id="com.servoy.eclipse.debug.stopScript"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="com.servoy.eclipse.debug.actions.StopScriptActionDelegate"
               icon="icons/stop.gif"
               id="com.servoy.eclipse.debug.stopScriptAction"
               label="Stop Executing"
               style="push"
               toolbarPath="servoy"
               tooltip="Stops the current execution, doesnt kill the client">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.servoy.eclipse.ui.StartWebClient"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+B">
      </key>
      <key
            commandId="com.servoy.eclipse.ui.StartNGClient"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+G">
      </key>
      <key
            commandId="com.servoy.eclipse.ui.StartNGDesktopClient"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+A">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Launch WebClient"
            id="com.servoy.eclipse.ui.StartWebClient"
            name="Launch WebClient">
         <commandParameter
               id="com.servoy.eclipse.debug.browser"
               name="com.servoy.eclipse.debug.browser"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Launch NGClient"
            id="com.servoy.eclipse.ui.StartNGClient"
            name="Launch NGClient">
         <commandParameter
               id="com.servoy.eclipse.debug.browser"
               name="com.servoy.eclipse.debug.browser"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Launch NGDesktop"
            id="com.servoy.eclipse.ui.StartNGDesktopClient"
            name="Launch NGDesktopClient">
      </command>
   </extension>
   <extension
         point="org.eclipse.dltk.javascript.core.typeinfo">
      <provider
            class="com.servoy.eclipse.debug.script.TypeProviderFactory">
      </provider>
      <resolver
            class="com.servoy.eclipse.debug.script.ElementResolver">
      </resolver>
      <evaluator
            class="com.servoy.eclipse.debug.script.ValueCollectionProvider">
      </evaluator>
      <nodeHandler
            class="com.servoy.eclipse.debug.script.ServoyTypeInferenceFactory">
      </nodeHandler>
      <runtimeType
            class="com.servoy.eclipse.debug.script.AnyType"
            name="Any">
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.dltk.javascript.ui.typeInfoLabelProvider">
      <labelProvider
            class="com.servoy.eclipse.debug.script.ElementLabelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.openDelegate">
      <delegate
            class="com.servoy.eclipse.debug.script.OpenAdapter">
      </delegate>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.debug.scriptingconsole.ScriptingConsole"
            icon="icons/interactive_console.png"
            id="com.servoy.eclipse.debug.scriptingconsole"
            name="Command Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.dltk.debug.console">
      <factory
            class="com.servoy.eclipse.debug.scriptingconsole.ScriptingConsoleFactory">
      </factory>
   </extension>
    	<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.servoy.eclipse.ui.DesignPerspective">
         <viewShortcut
               id="com.servoy.eclipse.debug.scriptingconsole">
         </viewShortcut>
         <view
               id="com.servoy.eclipse.debug.scriptingconsole"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
     <extension
           point="org.eclipse.dltk.core.problemFactory">
        <problemCategory
              id="deprecated"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_PROPERTY
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_VARIABLE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_TYPE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_METHOD
           </problem>
        </problemCategory>
        <problemCategory
              id="undeclared"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDECLARED_VARIABLE
           </problem>
        </problemCategory>
        <problemCategory
              id="hides"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#PARAMETER_HIDES_VARIABLE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#PARAMETER_HIDES_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_PARAMETER
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_PROPERTY
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_METHOD
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#FUNCTION_HIDES_VARIABLE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#FUNCTION_HIDES_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DUPLICATE_VAR_DECLARATION
           </problem>
        </problemCategory>
        <problemCategory
              id="wrongparameters"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#WRONG_PARAMETERS
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#WRONG_JAVA_PARAMETERS
           </problem>
        </problemCategory>
     </extension>
     <extension
           point="org.eclipse.ui.editors.templates">
        <include
              file="templates/templates.xml"
              translations="templates/templates.properties">
        </include>
     </extension>
     <extension
           point="org.eclipse.dltk.javascript.parser.transformer">
        <transformer
              class="com.servoy.eclipse.debug.script.CalculationsNodeTransformerFactory">
        </transformer>
     </extension>
     <extension
           point="com.servoy.eclipse.core.debugstarter">
        <debugstarter
              class="com.servoy.eclipse.debug.DebugStarter"
              id="com.servoy.eclipse.debug.debugstarter">
        </debugstarter>
     </extension>
     <extension
           point="org.eclipse.dltk.launching.interpreterInstalls">
        <interpreterInstall
              home="${eclipse_home}/artifacts.xml"
              id="com.servoy.eclipse.debug.interpreter.rhino"
              interpreterInstallType="org.eclipse.dltk.internal.debug.ui.launcher.GenericRhinoInstallType"
              name="rhino">
        </interpreterInstall>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              allPopups="false"
              locationURI="toolbar:org.eclipse.ui.main.toolbar?endof=additions">
           <toolbar
                 id="com.servoy.eclipse.debug.toolbar">
              <command
                    commandId="com.servoy.eclipse.ui.StartClient"
                    icon="icons/run.png"
                    id="com.servoy.eclipse.ui.StartClient"
                    label="Launch Debug Client"
                    style="pulldown">
              </command>
           </toolbar>
        </menuContribution>
        <menuContribution
              allPopups="false"
              class="com.servoy.eclipse.debug.actions.LaunchWebClientContributionFactory"
              locationURI="menu:com.servoy.eclipse.ui.StartClient">
        </menuContribution>
        <menuContribution
              allPopups="false"
              class="com.servoy.eclipse.debug.actions.LaunchNGClientContributionFactory"
              locationURI="menu:com.servoy.eclipse.ui.StartClient">
        </menuContribution>
        
        <menuContribution
              allPopups="false"
              locationURI="menu:com.servoy.eclipse.ui.StartClient">
              <command
                 commandId="com.servoy.eclipse.ui.StartNGDesktopClient"
                 id="com.servoy.eclipse.ui.StartNGDesktopClient"
                 icon="icons/launch.png"
                 label="Launch NGDesktop Client"
                 style="push">
              <visibleWhen>
              <with
                    variable="com.servoy.eclipse.core.ngDesktopClientState">
                 <equals
                       value="ENABLED">
                 </equals>
              </with>
           </visibleWhen>
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:org.eclipse.ui.run?after=breakpointGroup">
           <separator
                 name="com.servoy.eclipse.debug.separator"
                 visible="true">
           </separator>
           <command
                 commandId="com.servoy.eclipse.ui.StartWebClient"
                 icon="icons/launch_web.png"
                 label="Launch Debug Web Client"
                 style="push">
           </command>
           <command
                 commandId="com.servoy.eclipse.ui.StartNGClient"
                 icon="icons/launch_ng.png"
                 label="Launch NGClient"
                 style="push">
           </command>
           <command
                 commandId="com.servoy.eclipse.ui.StartNGDesktopClient"
                 icon="icons/launch_ng.png"
                 label="Launch NGDesktop Client"
                 style="push">
           </command>
        </menuContribution>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
         <handler
              class="com.servoy.eclipse.debug.handlers.StartClientHandler"
              commandId="com.servoy.eclipse.ui.StartClient">
        </handler>
        <handler
              class="com.servoy.eclipse.debug.handlers.StartWebClientHandler"
              commandId="com.servoy.eclipse.ui.StartWebClient">
           <enabledWhen>
              <with
                    variable="com.servoy.eclipse.core.webClientState">
                 <equals
                       value="ENABLED">
                 </equals>
              </with>
           </enabledWhen>
        </handler>
        <handler
              class="com.servoy.eclipse.debug.handlers.StartNGClientHandler"
              commandId="com.servoy.eclipse.ui.StartNGClient">
           <enabledWhen>
              <with
                    variable="com.servoy.eclipse.core.ngClientState">
                 <equals
                       value="ENABLED">
                 </equals>
              </with>
           </enabledWhen>
        </handler>
                <handler
              class="com.servoy.eclipse.debug.handlers.StartNGDesktopClientHandler"
              commandId="com.servoy.eclipse.ui.StartNGDesktopClient">
           <enabledWhen>
              <with
                    variable="com.servoy.eclipse.core.ngDesktopClientState">
                 <equals
                       value="ENABLED">
                 </equals>
              </with>
           </enabledWhen>
        </handler>
     </extension>
     <extension
           point="sj.jsonschemavalidation.schemaprovider">
        <schemaprovider
              class="com.servoy.eclipse.debug.SpecSchemaProvider"
              id="com.servoy.eclipse.debug.spec_schema">
        </schemaprovider>
     </extension>
     <extension
           point="com.servoy.eclipse.model.typeInferencer">
        <provider
              class="com.servoy.eclipse.debug.script.CalculationTypeInferencerProvider"
              id="com.servoy.eclipse.debug.calc_type_provider">
        </provider>
     </extension>
</plugin>
