<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="shortcuts" name="Shortcuts for debug smart client" schema="schema/shortcuts.exsd"/>
	
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.servoy.eclipse.ui.start_actions"
            label="Start Servoy Clients"
            visible="true">
         <action
               class="com.servoy.eclipse.debug.actions.StartWebClientActionDelegate"
               definitionId="com.servoy.eclipse.ui.StartWebClient"
               icon="icons/launch_web.gif"
               id="com.servoy.eclipse.ui.startWebClient"
               label="Start Debug Web Client"
               menubarPath="org.eclipse.ui.run/start"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Start Debug Web Client">
         </action>
         <action
               class="com.servoy.eclipse.debug.actions.StartSmartClientActionDelegate"
               definitionId="com.servoy.eclipse.ui.StartSmartClient"
               icon="icons/launch.gif"
               id="com.servoy.eclipse.ui.startSmartClient"
               label="Start Debug Smart Client"
               menubarPath="org.eclipse.ui.run/start"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Start Debug Smart Client">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.dltk.launching.debuggingEngine">
      <engineContribution
            natureId="org.eclipse.dltk.javascript.core.nature">
         <engine
               class="com.servoy.eclipse.debug.ServoyDebuggableEngineFactory"
               description="ServoyDebuggableEngine"
               id="com.servoy.eclipse.debug.engine"
               name="ServoyDebuggableEngine"
               priority="100">
         </engine>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.servoy.eclipse.debug.javascript"
            targetID="org.eclipse.dltk.ui.outline">
         <action
               class="com.servoy.eclipse.debug.actions.DebugMethod"
               enablesFor="1"
               id="com.servoy.eclipse.debug.javascript.run"
               label="Debug Method"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.jdt.debug.ui.BreakpointViewActions"
            targetID="org.eclipse.debug.ui.BreakpointView">
         <action
               class="com.servoy.eclipse.debug.actions.ToggleGlobalExitBreak"
               icon="icons/exit_ovr.gif"
               id="com.servoy.eclipse.debug.toggle.global.exitbreak"
               label="Toggle Global ExitBreak"
               style="toggle"
               toolbarPath="javascriptGlobalBreakpoints"
               tooltip="Toggle Global ExitBreak">
         </action>
         <action
               class="com.servoy.eclipse.debug.actions.ToggleGlobalEntryBreak"
               icon="icons/entry_ovr.gif"
               id="com.servoy.eclipse.debug.toggle.global.entrybreak"
               label="Toggle Global EntryBreak"
               style="toggle"
               toolbarPath="javascriptGlobalBreakpoints"
               tooltip="Toggle Global EntryBreak">
         </action>
         <action
               class="com.servoy.eclipse.debug.actions.ToggleGlobalExceptionBreak"
               icon="icons/jexception_obj.gif"
               id="com.servoy.eclipse.debug.toggle.global.exceptionbreak"
               label="Toggle Global Exception Break"
               style="toggle"
               toolbarPath="javascriptGlobalBreakpoints"
               tooltip="Toggle Global ExceptionBreak">
         </action>
      </viewContribution>
      <viewContribution
            id="com.servoy.eclipse.debug.stopScript"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="com.servoy.eclipse.debug.actions.StopScriptActionDelegate"
               icon="icons/stop.gif"
               id="com.servoy.eclipse.debug.stopScriptAction"
               label="Stop Executing"
               style="push"
               toolbarPath="servoy"
               tooltip="Stops the current execution, doesnt kill the client">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.servoy.eclipse.ui.StartSmartClient"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+A">
      </key>
      <key
            commandId="com.servoy.eclipse.ui.StartWebClient"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+B">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Start SmartClient"
            id="com.servoy.eclipse.ui.StartSmartClient"
            name="Start SmartClient">
      </command>
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Start WebClient"
            id="com.servoy.eclipse.ui.StartWebClient"
            name="Start WebClient">
      </command>
   </extension>
   <extension
         point="org.eclipse.dltk.javascript.core.typeinfo">
      <provider
            class="com.servoy.eclipse.debug.script.TypeProviderFactory">
      </provider>
      <resolver
            class="com.servoy.eclipse.debug.script.ElementResolver">
      </resolver>
      <evaluator
            class="com.servoy.eclipse.debug.script.ValueCollectionProvider">
      </evaluator>
      <nodeHandler
            class="com.servoy.eclipse.debug.script.CalculationsTypeInferenceHandlerFactory">
      </nodeHandler>
   </extension>
   <extension
         point="org.eclipse.dltk.javascript.ui.typeInfoLabelProvider">
      <labelProvider
            class="com.servoy.eclipse.debug.script.ElementLabelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.openDelegate">
      <delegate
            class="com.servoy.eclipse.debug.script.OpenAdapter">
      </delegate>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.debug.scriptingconsole.ScriptingConsole"
            icon="icons/commandconsole.gif"
            id="com.servoy.eclipse.debug.scriptingconsole"
            name="Command Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.dltk.debug.console">
      <factory
            class="com.servoy.eclipse.debug.scriptingconsole.ScriptingConsoleFactory">
      </factory>
   </extension>
    	<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.servoy.eclipse.ui.DesignPerspective">
         <viewShortcut
               id="com.servoy.eclipse.debug.scriptingconsole">
         </viewShortcut>
         <view
               id="com.servoy.eclipse.debug.scriptingconsole"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
     <extension
           point="org.eclipse.dltk.core.problemFactory">
        <problemCategory
              id="deprecated"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_PROPERTY
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_VARIABLE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_TYPE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_METHOD
           </problem>
        </problemCategory>
        <problemCategory
              id="undeclared"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDECLARED_VARIABLE
           </problem>
        </problemCategory>
        <problemCategory
              id="hides"
              nature="org.eclipse.dltk.javascript.core.nature"
              scope="@SuppressWarnings">
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#PARAMETER_HIDES_VARIABLE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#PARAMETER_HIDES_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_PARAMETER
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_PROPERTY
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_METHOD
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#VAR_HIDES_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#FUNCTION_HIDES_VARIABLE
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#FUNCTION_HIDES_FUNCTION
           </problem>
           <problem>
              org.eclipse.dltk.javascript.core.JavaScriptProblems#DUPLICATE_VAR_DECLARATION
           </problem>
        </problemCategory>
     </extension>
   
</plugin>
