:root {
  --mdc-tab-indicator-active-indicator-color: #e4844a;
}

body {
    margin: 0;
    padding: 0;
}
/* Content should take full height of the page */
.wpm {
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
}

.wpm-header,
.wpm-content {
  display: table-row;
  height: 0;
}

.wpm-content {
  height: auto;
}

.mat-mdc-tab-header, .mat-mdc-tab-label-content {
  background-color: #000;
  color: #fff;
  font-size: medium;
  text-transform: none;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
    color: #fff;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #e4844a;
}

.mat-mdc-tab-labels .mat-mdc-tab-label {
    opacity: unset;
}

.mat-mdc-select-value,
.mat-mdc-option.mdc-list-item  {
    font-family: initiali;
    font-size: initial;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-bottom: 0px;
    min-height: unset;
}

.mat-mdc-tab-group .mat-mdc-ink-bar {
    background-color: #e4844a !important;
}

mat-select.repository {
  min-width: 150px;
  padding-top: 10px;
  right: 10px;
}

mat-select.repository .mat-mdc-select-value-text {
  color: #fff;
  max-width: none;
}

mat-select.repository .mat-mdc-select-arrow {
  color: #fff;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled)
{
    background-color: unset;
}

.mat-mdc-select-value, .mat-mdc-select-disabled .mat-mdc-select-value {
    color: unset;
}
/* workaround for IE, see: https://github.com/angular/material2/issues/11609 */
.cdk-overlay-pane {
  display: block;
}

.mdc-tab:hover .mdc-tab__text-label{
    color: var(--mdc-tab-indicator-active-indicator-color) !important;
}


/* DARK THEME*/
html, body {
    height: 100%;
}

.dark .content, 
.dark .mat-mdc-dialog-content.mdc-dialog__content, 
.dark .mat-mdc-dialog-title.mdc-dialog__title, 
.dark .mat-mdc-dialog-actions.mdc-dialog__actions, 
.dark .wpm .wpm-header .header-content, 
.dark .mat-mdc-tab-header {
    background: #151515;
    color: #cccccc;
}

.dark .content {
	 height: 100%;
}

.dark .mat-mdc-button:not(:disabled), 
.dark .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label, 
.dark .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.dark .mat-mdc-select-value, 
.dark .mat-mdc-select-arrow, 
.dark .mat-mdc-option,
.dark .mdc-list-item__primary-text,
.dark .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
.dark .mat-mdc-form-field-label,
.dark .header-content .mat-mdc-select-value .mat-mdc-select-value-text,
.dark .header-content .mat-mdc-select-trigger .mat-mdc-select-arrow ,
.dark .header-content .updateButton {
	color: #cccccc;
}

.dark .mdc-checkbox__background  {
	border-color: #cccccc !important;
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: unset;
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before  {
    border-bottom-color: unset;
}

.dark .mat-mdc-select-disabled .mat-mdc-select-value, 
.dark .mat-mdc-select-disabled .mat-mdc-select-arrow, 
.dark .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
	color: #c1c1c161
}

.dark .mat-mdc-form-field-underline {
	background: #cccccc
}

.dark .wpm-package-selected {
	background: #1e1d1d !important;
}

.dark .wpm-package-description .mat-mdc-card-content{
	background: #1a1a1a !important;
}

.dark .table-package tr th div, 
.dark .mat-mdc-select-panel {
    background: #303030;
    color: #cccccc;
}

.dark .column-fitwidth {
    height: 80px;
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple:before {
    border-bottom-color: var(--mdc-tab-indicator-active-indicator-color) !important;
}

.dark .mdc-icon-button:hover {
    background-color: var(--mdc-tab-indicator-active-indicator-color);
}

.dark .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label, 
.dark .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label--float-above {
	color: var(--mdc-tab-indicator-active-indicator-color);
}