
.dropdown-submenu {
    position: relative;
}

.dropdown-menu.dropdown-nested-menu {
    display: block;
    visibility: hidden;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.svy-popup-menu{
    line-height: normal;
}

.svy-popup-menu .dropdown-item{
    cursor: pointer;
}

.dropdown-item:has(.dropdown-divider),
.dropdown-item:has(.dropdown-divider):hover {
    cursor: default;
    background-color: transparent;;
}

.dropdown-menu .dropdown-item > i { 
    margin-right: 5px;
}