<div class="svy-message-dialog">
	<h4 class="window-title window-header" [ngClass]="styleClass"></h4>
	<div class="window-body">
    <span [innerHTML]='message'></span>
    <form *ngIf="styleClass==='type-input' || styleClass === 'type-select'">
      <input [type]="getType()" #inputfield class="input-width form-control"  *ngIf="styleClass==='type-input'" [(ngModel)]="retValue" [ngModelOptions]="{standalone: true}">
      <select #inputfield class="input-width form-select" *ngIf="styleClass==='type-select'" [(ngModel)]="retValue" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let myValue of values" [value]="myValue">{{ myValue }}</option>
      </select>
    </form>
  </div>
  <div #buttons class="window-footer">
    <button *ngFor="let text of buttonsText; let idx = index" class="svy-btn" [ngClass]="getButtonClass(idx)" (click)="dismiss(text)">{{ text }}</button>
  </div>
</div>
