<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.servoy.eclipse.core.pluginbaseclassloaderprovider">
      <pluginbaseclassloaderprovider
            class="com.servoy.eclipse.extension.compatibility.PluginBaseClassLoaderProvider"
            id="com.servoy.eclipse.extension.compatibility.pluginbaseclassloaderprovider1">
      </pluginbaseclassloaderprovider>
   </extension>
</plugin>
