<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="docmanager" name="Servoy Documentation Manager" schema="schema/docmanager.exsd"/>
	<extension-point id="rmiclientfactory" name="RMI Client Socket Factory Factory" schema="schema/rmiclientfactory.exsd"/>
	<extension-point id="preInitializeJob" name="Provides an opportunity to execute code before initializing ServoyModel." schema="schema/preInitializeJob.exsd"/>
    <extension-point id="debugstarter" name="Debug Starter" schema="schema/debugstarter.exsd"/>
    <extension-point id="activesolutionlistener" name="Active Solution Listener" schema="schema/activesolutionlistener.exsd"/>
  	
   <extension
         id="ide"
         name="%productName"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Servoy Developer"
            description="%productBlurb">
         <property
               name="cssTheme"
               value="com.servoy.eclipse.core.servoytheme">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
         <property
               name="windowImages"
               value="icons/windowicon16.png,icons/windowIcon.png,icons/windowIcon48.png,icons/windowIcon64.png,icons/windowIcon128.png,icons/windowIcon256.png">
         </property>
         <property
               name="appName"
               value="Servoy Developer">
         </property>
         <property
               name="aboutImage"
               value="icons/installer_image.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
      </product>
   </extension>

<!--
	<extension point="org.eclipse.ui.intro"> 
	    <intro
           class="org.eclipse.ui.intro.config.CustomizableIntroPart"
           icon="icons/servoy_donut16x16.png"
           id="com.servoy.eclipse.core.config"> 
	    </intro>
	    <introProductBinding
	        introId="com.servoy.eclipse.core.config"
	        productId="com.servoy.eclipse.core.ide">
	    </introProductBinding>
	</extension> 
   <extension   
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/introData.xml"
            id="com.servoy.eclipse.core.config"
            introId="com.servoy.eclipse.core.config">
         <presentation
               home-page-id="homePageId">
            <implementation kind="html"/>
         </presentation>
      </config>
   </extension>
-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Adds or removes the Servoy Solution Nature to/from a project in the workspace."
            id="com.servoy.eclipse.core.nature.addRemoveSolutionNatureCommand"
            name="Add/Remove Servoy Solution Nature">
      </command>
      <command
            description="Adds or removes the Servoy Resources Nature to/from a project in the workspace."
            id="com.servoy.eclipse.core.nature.addRemoveResourcesNatureCommand"
            name="Add/Remove Servoy Resources Nature">
      </command>
      <command
            description="Adds or removes the Servoy NG Package Nature to/from a project in the workspace."
            id="com.servoy.eclipse.core.nature.addRemoveNGPackageNatureCommand"
            name="Add/Remove Servoy NG Package Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.servoy.eclipse.core.nature.ToggleServoySolutionNatureHandler"
            commandId="com.servoy.eclipse.core.nature.addRemoveSolutionNatureCommand">
      </handler>
      <handler
            class="com.servoy.eclipse.core.nature.ToggleServoyResourcesNatureHandler"
            commandId="com.servoy.eclipse.core.nature.addRemoveResourcesNatureCommand">
      </handler>
      <handler
            class="com.servoy.eclipse.core.nature.ToggleServoyNGPackageNatureHandler"
            commandId="com.servoy.eclipse.core.nature.addRemoveNGPackageNatureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.servoy.eclipse.core.nature.addRemoveSolutionNatureCommand"
               id="com.servoy.eclipse.core.nature.addSolutionNatureContribution"
               label="Add Servoy Solution Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="true">
                           </test>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyProject">
                              </test>
                           </not>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyNGPackage">
                              </test>
                           </not>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyResources">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.servoy.eclipse.core.nature.addRemoveResourcesNatureCommand"
               id="com.servoy.eclipse.core.nature.addResourcesNatureContribution"
               label="Add Servoy Resources Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="true">
                           </test>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyProject">
                              </test>
                           </not>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyNGPackage">
                              </test>
                           </not>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyResources">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.servoy.eclipse.core.nature.addRemoveNGPackageNatureCommand"
               id="com.servoy.eclipse.core.nature.addNGPackageNatureContribution"
               label="Add Servoy NG Package Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="true">
                           </test>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyProject">
                              </test>
                           </not>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyNGPackage">
                              </test>
                           </not>
                           <not>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.servoy.eclipse.core.ServoyResources">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.servoy.eclipse.core.nature.addRemoveSolutionNatureCommand"
               id="com.servoy.eclipse.core.nature.removeSolutionNatureContribution"
               label="Remove Servoy Solution Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
	                     <test
	                           forcePluginActivation="true"
	                           property="org.eclipse.core.resources.projectNature"
	                           value="com.servoy.eclipse.core.ServoyProject">
	                     </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.servoy.eclipse.core.nature.addRemoveResourcesNatureCommand"
               id="com.servoy.eclipse.core.nature.removeResourcesNatureContribution"
               label="Remove Servoy Resources Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
	                     <test
	                           forcePluginActivation="true"
	                           property="org.eclipse.core.resources.projectNature"
	                           value="com.servoy.eclipse.core.ServoyResources">
	                     </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.servoy.eclipse.core.nature.addRemoveNGPackageNatureCommand"
               id="com.servoy.eclipse.core.nature.removeNGPackageNatureContribution"
               label="Remove Servoy NG Package Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
	                     <test
	                           forcePluginActivation="true"
	                           property="org.eclipse.core.resources.projectNature"
	                           value="com.servoy.eclipse.core.ServoyNGPackage">
	                     </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.servoy.j2db.persistence.IPersist"
            class="com.servoy.eclipse.dnd.DragDataAdapterFactory">
            <adapter type="com.servoy.eclipse.dnd.IDragData"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.IDataProvider"
            class="com.servoy.eclipse.dnd.DragDataAdapterFactory">
         <adapter
               type="com.servoy.eclipse.dnd.IDragData">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.RelationDescriber"
            file-extensions="rel"
            id="com.servoy.eclipse.core.resource.relation"
            name="Relation"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.MenuDescriber"
            file-extensions="mnu"
            id="com.servoy.eclipse.core.resource.menu"
            name="Menu"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.FormDescriber"
            file-extensions="frm"
            id="com.servoy.eclipse.core.resource.form"
            name="Servoy Form"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.ValuelistDescriber"
            file-extensions="val"
            id="com.servoy.eclipse.core.resource.valuelist"
            name="ValueList"
            priority="normal">
      </content-type>
      <content-type
            id="com.servoy.eclipse.core.resource.media"
            name="Media"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="com.servoy.eclipse.core.resource.server"
            name="Server"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.TableDescriber"
            file-extensions="tbl"
            id="com.servoy.eclipse.core.resource.tablenode"
            name="Table"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="com.servoy.eclipse.core.resource.ValidDescriber"
            file-extensions="dbi"
            id="com.servoy.eclipse.core.resource.table"
            name="Table"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="sec"
            id="com.servoy.eclipse.core.resource.security"
            name="Security Information"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="dbi"
            id="com.servoy.eclipse.core.resource.dbsecurity"
            name="Dababase Security"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="properties"
            id="com.servoy.eclipse.core.resource.i18n"
            name="I18N"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.wst.css.core.csssource"
            describer="org.eclipse.wst.css.core.internal.contenttype.ContentDescriberForCSS"
            file-extensions="less"
            id="less"
            name="LESS"
            priority="normal">
		</content-type>
   </extension>
   <extension
         id="ServoyUpdatingProject"
         name="Servoy Solution Update Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.servoy.eclipse.core.ServoyUpdatingProject">               
         </run>
      </runtime>
   </extension>   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.multipleResourcesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.noResourcesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.userSecurityProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.securityGroupBrokenReference">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.databaseInformationProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.invalidTableNodeProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.duplicateUUID">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.wrongOverridePosition">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.duplicateSiblingUUID">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingModulesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.misplacedModulesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingServer">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.valuelistProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.eventProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.differentRelationName">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingStyle">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.duplicateNameProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.badStructure">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.formWithDatasourceInLoginSolution">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.obsoleteElement">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.formProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.labelForElementProblem">
      </markerResolutionGenerator>      
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.formDuplicatePart">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.elementExtendsDeletedElement">
      </markerResolutionGenerator>  
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.lingeringTableFiles">
      </markerResolutionGenerator> 
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.invalidTableNoPrimaryKey">
      </markerResolutionGenerator>    
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingProjectReference">
      </markerResolutionGenerator>     
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.servoy.eclipse.core.util.SplashHandler"
            id="com.servoy.eclipse.core.util.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.servoy.eclipse.core.ide"
            splashId="com.servoy.eclipse.core.util.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension point="org.eclipse.wst.sse.core.cssprofile">
		<profile
			name="Servoy CSS Profile"
			uri="cssprofile/servoycssprofile.xml"
			id="com.servoy.eclipse.core.cssprofile.servoy">
		</profile>
	</extension>
   <extension
         point="com.servoy.eclipse.model.modelProvider">
      <provider
            class="com.servoy.eclipse.core.ServoyModelProvider"
            id="com.servoy.eclipse.core.modelProvider"
            name="Provides the development ServoyModel">
      </provider>
   </extension>
   <extension
         point="com.servoy.eclipse.model.builder.attributeContributor">
      <contributor
            class="com.servoy.eclipse.core.builder.OpenWithEditor"
            id="com.servoy.eclipse.core.builder.preferredEditorContributor"
            name="Suggests preferred editor to open for markers"
            whenUIDisabledStateIs="false">
      </contributor>
   </extension>
   <extension
         point="com.servoy.eclipse.model.unexpectedSituationHandler">
      <contributor
            class="com.servoy.eclipse.core.repository.UnexpectedSituationHandler"
            id="com.servoy.eclipse.core.unexpectedModelSituationHandler"
            name="Asks/notifies user when relevant"
            whenUIDisabledStateIs="false">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <problemFilter
            enabled="true"
            id="com.servoy.eclipse.core.servoyProblemFilter"
            name="Servoy Active Solution Filter">
      </problemFilter>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            description="working set that reflects all active solution projects (active sol. + modules)"
            icon="icons/servoy_donut16x16.png"
            id="com.servoy.eclipse.core.activeSolutionWorkingset"
            name="Servoy Active Solutions">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.saveParticipants">
      <saveParticipant
            class="com.servoy.eclipse.core.repository.JavaScriptFilePostSaveListener"
            nature="org.eclipse.dltk.javascript.core.nature">
      </saveParticipant>
   </extension>
   <extension
         point="com.servoy.eclipse.core.preInitializeJob">
      <job
            class="com.servoy.eclipse.core.extension.ProcessPendingInstall"
            id="com.servoy.eclipse.core.pendingInstall">
      </job>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.servoy.eclipse.core.ActiveSolutionProvider">
         <variable
               name="com.servoy.eclipse.core.mobileState"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.servoy.eclipse.core.webState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="servoytheme/servoy.css"
            id="com.servoy.eclipse.core.servoytheme"
            label="Servoy Default">
      </theme>
      <theme
            basestylesheeturi="servoytheme/servoydarkest.css"
            id="com.servoy.eclipse.core.servoydarktheme"
            label="Servoy Dark">
      </theme>
      <stylesheet
            uri="servoydarktheme/servoydark.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
    <extension point="org.eclipse.ui.themes">
     <themeElementCategory 
       id="com.servoy.themes.darktheme.themeCategory"
       label="Servoy Dark Theme" />
   </extension>
   <extension
         point="org.apache.tomcat.serviceprovider">
      <serviceprovider
            class="com.servoy.eclipse.core.tomcat.ServiceProvider"
            id="com.servoy.eclipse.core.serviceprovider">
      </serviceprovider>
   </extension>
   <extension
         point="org.apache.tomcat.tomcatstartedlistener">
      <tomcatstartedlistener
            class="com.servoy.eclipse.core.tomcat.TomcatStartedListener"
            id="com.servoy.eclipse.core.tomcatstartedlistener">
      </tomcatstartedlistener>
   </extension>
</plugin>
