<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="docmanager" name="Servoy Documentation Manager" schema="schema/docmanager.exsd"/>
	<extension-point id="rmiclientfactory" name="RMI Client Socket Factory Factory" schema="schema/rmiclientfactory.exsd"/>
	
   <extension
         id="ide"
         name="%productName"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Servoy Developer"
            description="%productBlurb">
         <property
               name="windowImages"
               value="icons/windowicon16.png,icons/windowIcon.png,icons/windowIcon48.png,icons/windowIcon64.png,icons/windowIcon128.png">
         </property>
         <property
               name="appName"
               value="Servoy Developer">
         </property>
         <property
               name="aboutImage"
               value="icons/installer_image.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini"/>
      </product>
   </extension>

	<extension point="org.eclipse.ui.intro"> 
	    <intro
           class="org.eclipse.ui.intro.config.CustomizableIntroPart"
           icon="icons/servoy_donut16x16.png"
           id="com.servoy.eclipse.core.config"> 
	    </intro>
	    <introProductBinding
	        introId="com.servoy.eclipse.core.config"
	        productId="com.servoy.eclipse.core.ide">
	    </introProductBinding>
	</extension> 

   <extension   
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/introData.xml"
            id="com.servoy.eclipse.core.config"
            introId="com.servoy.eclipse.core.config">
         <presentation
               home-page-id="homePageId">
            <implementation kind="html"/>
         </presentation>
      </config>
   </extension>
   
   <extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.eclipse.ui.cheatsheets.actionSet" label="Cheat Sheats" visible="true">
			<action class="org.eclipse.ui.cheatsheets.CheatSheetExtensionFactory:helpMenuAction"
				id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction"
				label="&amp;Cheat Sheets..."
				menubarPath="help/group.tutorials"/>
		</actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.servoy.eclipse.core.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.servoy.eclipse.core.nature.ToggleServoySolutionNatureAction"
               enablesFor="+"
               id="com.servoy.eclipse.core.addRemoveNatureAction"
               label="Add/Remove Servoy Solution Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.servoy.eclipse.core.contribution2"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.servoy.eclipse.core.nature.ToggleServoyResourcesNatureAction"
               enablesFor="+"
               id="com.servoy.eclipse.core.addRemoveResourcesNatureAction"
               label="Add/Remove Servoy Resources Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.servoy.j2db.persistence.IPersist"
            class="com.servoy.eclipse.dnd.DragDataAdapterFactory">
            <adapter type="com.servoy.eclipse.dnd.IDragData"/>
      </factory>
      <factory
            adaptableType="com.servoy.j2db.persistence.IDataProvider"
            class="com.servoy.eclipse.dnd.DragDataAdapterFactory">
         <adapter
               type="com.servoy.eclipse.dnd.IDragData">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.RelationDescriber"
            file-extensions="rel"
            id="com.servoy.eclipse.core.resource.relation"
            name="Relation"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.FormDescriber"
            file-extensions="frm"
            id="com.servoy.eclipse.core.resource.form"
            name="Servoy Form"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.ValuelistDescriber"
            file-extensions="val"
            id="com.servoy.eclipse.core.resource.valuelist"
            name="ValueList"
            priority="normal">
      </content-type>
      <content-type
            id="com.servoy.eclipse.core.resource.media"
            name="Media"
            priority="normal">
      </content-type>
      <content-type
            id="com.servoy.eclipse.core.resource.server"
            name="Server"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF8"
            describer="com.servoy.eclipse.core.resource.TableDescriber"
            file-extensions="tbl"
            id="com.servoy.eclipse.core.resource.tablenode"
            name="Table"
            priority="normal">
      </content-type>
      <content-type
            describer="com.servoy.eclipse.core.resource.ValidDescriber"
            file-extensions="dbi"
            id="com.servoy.eclipse.core.resource.table"
            name="Table"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="sec"
            id="com.servoy.eclipse.core.resource.security"
            name="Security Information"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="dbi"
            id="com.servoy.eclipse.core.resource.dbsecurity"
            name="Dababase Security"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="properties"
            id="com.servoy.eclipse.core.resource.i18n"
            name="I18N"
            priority="normal">
      </content-type>      
   </extension>
   <extension
         id="ServoyUpdatingProject"
         name="Servoy Solution Update Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.servoy.eclipse.core.ServoyUpdatingProject">               
         </run>
      </runtime>
   </extension>   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.multipleResourcesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.noResourcesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.userSecurityProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.securityGroupBrokenReference">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.databaseInformationProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.invalidTableNodeProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.duplicateUUID">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.duplicateSiblingUUID">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingModulesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.misplacedModulesProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingServer">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.valuelistProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.eventProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.differentRelationName">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.missingStyle">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.duplicateNameProblem">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.badStructure">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.servoy.eclipse.core.quickfix.ServoyQuickFixGenerator"
            markerType="com.servoy.eclipse.core.formWithDatasourceInLoginSolution">
      </markerResolutionGenerator>      
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.servoy.eclipse.core.util.SplashHandler"
            id="com.servoy.eclipse.core.util.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.servoy.eclipse.core.ide"
            splashId="com.servoy.eclipse.core.util.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension point="org.eclipse.wst.sse.core.cssprofile">
		<profile
			name="Servoy CSS Profile"
			uri="cssprofile/servoycssprofile.xml"
			id="com.servoy.eclipse.core.cssprofile.servoy">
		</profile>
	</extension>
   <extension
         point="com.servoy.eclipse.model.modelProvider">
      <provider
            class="com.servoy.eclipse.core.ServoyModelProvider"
            id="com.servoy.eclipse.core.modelProvider"
            name="Provides the development ServoyModel">
      </provider>
   </extension>
   <extension
         point="com.servoy.eclipse.model.builder.attributeContributor">
      <contributor
            class="com.servoy.eclipse.core.builder.OpenWithEditor"
            id="com.servoy.eclipse.core.builder.preferredEditorContributor"
            name="Suggests preferred editor to open for markers">
      </contributor>
   </extension>
   <extension
         point="com.servoy.eclipse.model.unexpectedSituationHandler">
      <contributor
            class="com.servoy.eclipse.core.repository.UnexpectedSituationHandler"
            id="com.servoy.eclipse.core.unexpectedModelSituationHandler"
            name="Asks/notifies user when relevant">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <problemFilter
            enabled="true"
            id="com.servoy.eclipse.core.servoyProblemFilter"
            name="Servoy Active Solution Filter">
      </problemFilter>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            description="working set that reflects all active solution projects (active sol. + modules)"
            icon="icons/servoy_donut16x16.png"
            id="com.servoy.eclipse.core.activeSolutionWorkingset"
            name="Servoy Active Solutions">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.saveParticipants">
      <saveParticipant
            class="com.servoy.eclipse.core.repository.JavaScriptFilePostSaveListener"
            nature="org.eclipse.dltk.javascript.core.nature">
      </saveParticipant>
   </extension>
</plugin>
