<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.warexporter.ui.wizard.ExportWarWizard"
            icon="icons/add.gif"
            id="com.servoy.eclipse.warexporter.ExportWarWizard"
            name="Export War File">
      </wizard>
   </extension>
    <extension
         point="com.servoy.eclipse.ui.exportSolutionProvider">
      <provider
            class="com.servoy.eclipse.warexporter.ui.wizard.WarExportProvider"
            id="com.servoy.eclipse.exporter.war.exportSolutionProvider"
            name="Provides Solution War Export">
      </provider>
   </extension>

</plugin>
