<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.warexporter.ui.wizard.ExportWarWizard"
            icon="icons/war_export.png"
            id="com.servoy.eclipse.warexporter.ExportWarWizard"
            name="Export War File">
      </wizard>
   </extension>
    <extension
         point="com.servoy.eclipse.ui.exportSolutionProvider">
      <provider
            class="com.servoy.eclipse.warexporter.ui.wizard.WarExportProvider"
            id="com.servoy.eclipse.exporter.war.exportSolutionProvider"
            name="Provides Solution War Export">
      </provider>
   </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="help/contexts.xml"
          plugin="com.servoy.eclipse.exporter.war">
    </contexts>
 </extension>
  <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.exporter.setuppipeline.SetupPipelineWizard"
            icon="icons/war_export.png"
            id="com.servoy.eclipse.exporter.setuppipeline.SetupPipelineWizard"
            name="Setup Pipeline">
      </wizard>
   </extension>
     <extension
         point="com.servoy.eclipse.ui.exportSolutionProvider">
      <provider
            class="com.servoy.eclipse.exporter.setuppipeline.SetupPipelineProvider"
            id="com.servoy.eclipse.exporter.setuppipeline.SetupPipelineWizard"
            name="Setup Pipeline Wizard">
      </provider>
   </extension>
</plugin>
