<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.apache.tomcat.serviceprovider">
      <serviceprovider
            class="com.servoy.eclipse.designer.rib.startup.ServicesProvider"
            id="cse.designer.rib.servicesprovider">
      </serviceprovider>
   </extension>
</plugin>