<div class="header-content">
    <div style="float:right; display: -ms-inline-flexbox;">
      <mat-select [(value)]="activeRepository" class="repository" matTooltip="Select to change the repository" (selectionChange)="onActiveRepositoryChange()">
        <mat-option *ngFor="let repository of repositories" [value]="repository">{{ repository }}</mat-option>
      </mat-select>
      <button mat-icon-button *ngIf="showRemoveRepository()" matTooltip="Remove the repository url" (click)="removeRepository()"><mat-icon>delete_outline</mat-icon></button>
    </div>
    <h1 class="wpm-title">Servoy Package Manager</h1>
    <p *ngIf="isNeedRefresh()" class="warning">There are new packages available! Reopen the Web Package Manager to load them.</p>
    <p class="wpm-subtitle">Manage Web Packages of the active solution {{ !!getActiveSolution() ? "'" + getActiveSolution() + "'" : ""}} and it's modules...</p>
</div>