<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.servoy.eclipse.ngclient.ui.nodejs">
      <nodejs
            id="com.servoy.eclipse.nodejs.macosx.cocoa.x86_64"
            name="com.servoy.eclipse.nodejs.macosx.cocoa.x86_64"
            nodePath="node-v22.11.0-darwin-x64/bin/node"
            npmPath="node-v22.11.0-darwin-x64/bin/npm"
            archive="node.tar.gz">
      </nodejs>
   </extension>

</plugin>
