<div>
  @if (lfc.containedForm.absoluteLayout) {
    @for (row of foundsetRows; track row; let i = $index) {
      <div [sabloTabseq]="getFoundsetRowIndex(i) + 1" [sabloTabseqConfig]="{container: true, reservedGap: 100}" (click)="lfc.onRowClick(row, $event)" [class]="lfc.getRowClasses(getFoundsetRowIndex(i))" [ngStyle]="lfc.getRowStyle(true)" style="display:block; position: relative; float: left; white-space: normal;">
        @for (item of lfc.cache.items; track item) {
          <div [svyContainerStyle]="item" [svyContainerLayout]="item.layout" class="svy-wrapper" style="position:absolute"> <!-- wrapper div -->
            <ng-template [ngTemplateOutlet]="lfc.getRowItemTemplate(item)" [ngTemplateOutletContext]="{ state:lfc.getRowItemState(item, row, getFoundsetRowIndex(i)), callback:lfc, row:row, i:getFoundsetRowIndex(i) }"></ng-template>  <!-- component  -->
          </div>
        }
      </div>
    }
  }
  @if (!lfc.containedForm.absoluteLayout) {
    @for (row of foundsetRows; track row; let i = $index) {
      <div [sabloTabseq]="getFoundsetRowIndex(i) + 1" [sabloTabseqConfig]="{container: true, reservedGap: 100}" (click)="lfc.onRowClick(row, $event)" [class]="lfc.getRowClasses(getFoundsetRowIndex(i))" [ngStyle]="lfc.getRowStyle(false)" style="float: left; white-space: normal;">
        @for (item of lfc.cache.items; track item) {
          <ng-template [ngTemplateOutlet]="lfc.getRowItemTemplate(item)" [ngTemplateOutletContext]="{ state: lfc.getRowItemState(item, row, getFoundsetRowIndex(i)), callback:lfc, row:row, i:getFoundsetRowIndex(i)}"></ng-template>
          }  <!-- component or responsive div  -->
      </div>
    }
  }
</div>