.svy-upload {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }
  
  .svy-upload-header-txt {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
  }
  
  .svy-upload-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;  
  }
  .svy-upload-table > thead > tr > th,
  .svy-upload-table > tbody > tr > th,
  .svy-upload-table > tfoot > tr > th,
  .svy-upload-table > thead > tr > td,
  .svy-upload-table > tbody > tr > td,
  .svy-upload-table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  .svy-upload-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;  
  }
  .svy-upload-table > caption + thead > tr:first-child > th,
  .svy-upload-table > colgroup + thead > tr:first-child > th,
  .svy-upload-table > thead:first-child > tr:first-child > th,
  .svy-upload-table > caption + thead > tr:first-child > td,
  .svy-upload-table > colgroup + thead > tr:first-child > td,
  .svy-upload-table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  .svy-upload-table > tbody + tbody {
    border-top: 2px solid #ddd;
  }

  .svy-progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
  .svy-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
         -o-transition: width .6s ease;
            transition: width .6s ease;
  }

  #svy-upload-id {
      display: none;
  }