<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>./.m2/repository</localRepository>
<profiles>
    <profile>
      <id>inject-properties</id>
      <properties>
        <jdk>C:/javatools/jdk18</jdk>
        <jarsigner.keystore>C:/Users/jcomp/.m2/keystore</jarsigner.keystore>
        <jarsigner.storepass>ZvdIGWEkczWpvOk4FmMhM1</jarsigner.storepass>
        <jarsigner.alias>ServoyClient</jarsigner.alias>
       <jarsigner.tsa>http://timestamp.sectigo.com</jarsigner.tsa> 
 
<!--        <jarsigner.tsa>http://rfc3161timestamp.globalsign.com/advanced</jarsigner.tsa> -->
<!--        <jarsigner.tsa>http://timestamp.digicert.com</jarsigner.tsa> -->
<!--        <jarsigner.tsa>http://timestamp.globalsign.com/scripts/timstamp.dll</jarsigner.tsa> -->
        <install.dir>d:\servoy_installs\</install.dir>
      </properties>
    </profile>
  </profiles>
 
  <activeProfiles>
    <activeProfile>inject-properties</activeProfile>
  </activeProfiles>
</settings>