/* Content should take full height of the page */
.wpm {
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
}

.wpm-header,
.wpm-content {
  display: table-row;
  height: 0;
}

.wpm-header > md-content {
  padding-left: 10px;
  padding-right: 10px;
}

.wpm-content {
  height: auto;
}

.wpm-header md-content,
md-tabs-canvas,
md-tabs .md-tab {
  background-color: #000;
  color: #fff;
}

/* Tab's content */
md-content {
  background-color: rgb(255,255,255);
  box-sizing: border-box;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #e4844a;
    background: #e4844a;
    height: 5px;
}

md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active, 
md-tabs.md-default-theme .md-tab.md-active md-icon, 
md-tabs .md-tab.md-active md-icon, 
md-tabs.md-default-theme .md-tab.md-focused, 
md-tabs .md-tab.md-focused, 
md-tabs.md-default-theme .md-tab.md-focused md-icon, 
md-tabs .md-tab.md-focused md-icon {
  color: #e4844a;
}

/* Table */
.table-package {
  width: 100%;
}

/* Table header */
.md-subheader {
    white-space: nowrap;
}

.md-subheader.md-default-theme, .md-subheader {
    background-color: rgb(248,248,248);
    color: rgba(0,0,0,0.55);
}

.table-package th,
.table-package td {
  padding-right: 2px;
  padding-left: 2px;
}


.table-package .md-avatar {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
}

.table-package md-select {
  display: inline-block;
}

.table-package td > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 48px;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
}

.table-package td > div.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-package td > div.align-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

td.column-fitwidth {
  width: 1%;
  white-space: nowrap;
}

.table-package .release-action {
  font-size: 24px;
  float: right;
}

/* list of items */
.list-packages md-divider {
    margin-top: 10px;
    margin-bottom: 10px; 
}

.list-packages md-list-item > p,
.list-packages md-list-item > .md-list-item-inner > p,
.list-packages md-list-item .md-list-item-inner > p,
.list-packages md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ 
 }
.list-packages > md-list-item {
  height: 50px;
 }
.list-packages .secondary-button-padding p {
    padding-right: 100px; 
}

/* Style buttons */
.svy-primary.md-button.md-raised:not([disabled]) {
    color: #fff;
    background-color: #e4844a;
}

.svy-primary.md-button.md-raised:not([disabled]):hover {
    background-color: #e4844a;
}

/* Select */
md-select.select-solution {
  width: 100%;
  min-width: 120px;
  max-width: 260px;
}

md-select.select-release {
  min-width: 120px;
  max-width: 160px;
  width: 100%;
}

@media (min-width:1200px) {
  /* add padding to select box */
  td.column-fitwidth md-select {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width:1400px) {
  md-select.select-solution {
    max-width: 360px;
  }
}

._md-select-value {
  min-height: 0px;
}

/* Target elements */
.wpm-package-name {
  flex-grow: 0;
}

.wpm-title {
  margin-bottom: 4px;
}

.wpm-subtitle {
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.wpm-clickable {
  cursor: hand;
}

.wpm-clickable:focus {
  outline: none;
}

/* General */
.md-icon-button {
  font-size: 28px;
}

.wpm-icon-small {
  font-size: 14px;
  color: gray;
}

.wpm-icon-small:not(.md-icon-button) {
  margin: 0 6px;
  padding: 8px;
}

.md-padding {
    padding: 8px;
}

.success {
  color: green;
}

.warning {
  color: red;
}

.visible {
  width: 100%;
}

.hidden {
  width : 0px;
  display: none;
}

.visible, .hidden {
  transition: width 2s;
}

/* Table Description row */
.table-package {
  border-spacing: 0px;
  padding: 2px;
}

.table-package th,
.table-package td {
  padding-right: 4px;
  padding-left: 4px;
}

.wpm-package-selected,
.wpm-package-description {
/*  background-color: rgb(250,250,250);*/
}

tr.wpm-package-description > td {
  padding: 8px;
}

tr.wpm-package-description > td > md-content {
  overflow: hidden;
/*  background-color: rgb(250,250,250);*/
/* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 0px 2px 2px rgba(0, 0, 0, 0.098), 
    0px 0px 5px 1px rgba(0, 0, 0, 0.084); */
/* -moz-box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.84), inset 0 -2px 2px -2px rgba(0,0,0,0.84);
  -webkit-box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.84), inset 0 -2px 2px -2px rgba(0,0,0,0.84);
  box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.84), inset 0 -2px 2px -2px rgba(0,0,0,0.84);*/
}

.wpm-collapsible.wpm-collapsible-content {
  -webkit-transition: max-height 0.35s linear;
  transition: max-height 0.35s linear;
}

.wpm-collapsible.ng-enter.wpm-collapsible-content {
  max-height:0px;
}

.wpm-collapsible.ng-enter.ng-enter-active.wpm-collapsible-content {
  max-height:1024px;
}

.wpm-collapsible.ng-leave.wpm-collapsible-content {
  max-height:1024px;
}

.wpm-collapsible.ng-leave.ng-leave-active.wpm-collapsible-content {
  max-height:0px;
}

