/* Content should take full height of the page */
.wpm {
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
}

.wpm-header,
.wpm-content {
  display: table-row;
  height: 0;
}

.wpm-header > md-content {
  padding-left: 10px;
  padding-right: 10px;
}

.wpm-content {
  height: auto;
}

.wpm-header md-content,
md-tabs-canvas,
md-tabs .md-tab {
  background-color: #000;
  color: #fff;
}

/*
.md-padding {
  padding: 8px;
}
*/
/* Tab's content */
md-content {
  background-color: rgb(255,255,255);
  box-sizing: border-box;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #e4844a;
    background: #e4844a;
    height: 5px;
}

md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active, 
md-tabs.md-default-theme .md-tab.md-active md-icon, 
md-tabs .md-tab.md-active md-icon, 
md-tabs.md-default-theme .md-tab.md-focused, 
md-tabs .md-tab.md-focused, 
md-tabs.md-default-theme .md-tab.md-focused md-icon, 
md-tabs .md-tab.md-focused md-icon {
  color: #e4844a;
}

/* Table */
.table-package {
  width: 100%;
}

/* Table header */
.md-subheader.md-default-theme, .md-subheader {
    background-color: rgb(248,248,248);
    color: rgba(0,0,0,0.55);
}

.table-package th,
.table-package td {
  padding-right: 2px;
  padding-left: 2px;
}


.table-package .md-avatar {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
}

.table-package md-select {
  display: inline-block;
}

.table-package td > div {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 48px;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
}

.table-package td > div.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-package .fa {
  font-size: 28px;
}

.table-package .column-release .release-action {
  font-size: 24px;
  float: right;
}

.column-release .select {
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-release .btn-group {
  min-width: 220px;
  flex-grow: 1;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* list of items */
.list-packages md-divider {
    margin-top: 10px;
    margin-bottom: 10px; 
}

.list-packages md-list-item > p,
.list-packages md-list-item > .md-list-item-inner > p,
.list-packages md-list-item .md-list-item-inner > p,
.list-packages md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ 
 }
.list-packages > md-list-item {
  height: 50px;
 }
.list-packages .secondary-button-padding p {
    padding-right: 100px; 
}

/* Style buttons */
.svy-primary.md-button.md-raised:not([disabled]) {
    color: #fff;
    background-color: #e4844a;
}

.svy-primary.md-button.md-raised:not([disabled]):hover {
    background-color: #e4844a;
}

/* Select */
._md-select-value {
  min-height: 0px;
}

/* General */
.success {
  color: green;
}

.warning {
  color: red;
}

.visible {
  width: 100%;
}

.hidden {
  width : 0px;
  display: none;
}

.visible, .hidden {
  transition: width 2s;
}