<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.servoy.eclipse.ui.tweaks.imageReplacement" name="Can replace (almost) any image that is used in Eclipse with custom ones" schema="schema/imageReplacement.exsd"/>
   <extension-point id="com.servoy.eclipse.ui.tweaks.weavingHook" name="Servoy Hook for weaving bytecode of classes" schema="schema/weavingHook.exsd"/>

   <extension
         id="com.servoy.eclipse.ui.tweaks.weaverExtensions"
         point="com.servoy.eclipse.ui.tweaks.weavingHook">
      <weaveClass
            fullClassNameToWeave="org.eclipse.jface.resource.ImageDescriptor"
            weaverClass="com.servoy.eclipse.ui.tweaks.bytecode.weave.ImageDescriptorWeaver">
      </weaveClass>
   </extension>
   
   <extension
         id="com.servoy.eclipse.ui.tweaks.imageReplacementExtensions"
         name="Image replacements performed by the c.s.e.ui.tweaks plugin"
         point="com.servoy.eclipse.ui.tweaks.imageReplacement">
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/new_wiz.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/new.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/etool16/save_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/save.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/dtool16/save_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/save-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/etool16/saveas_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/save-as.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/dtool16/saveas_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/save-as-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>      
     
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/etool16/saveall_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/save-all.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/dtool16/saveall_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/save-all-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/pin_editor.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/pin.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dtool16/pin_editor.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/pin-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/print_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/print.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/import_wiz.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/import.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/export_wiz.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/export.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>      
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/elcl16/refresh_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/refresh.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/home_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/home.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dlcl16/home_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/home-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.search/$nl$/icons/full/etool16/search.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/search.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/dtool16/search_src.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/search.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/etool16/prev_nav.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/back-to-annotation.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/dtool16/prev_nav.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/back-to-annotation-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/etool16/next_nav.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/forward-to-annotation.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/dtool16/next_nav.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/forward-to-annotation-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/backward_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/backward_nav.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dlcl16/backward_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/backward_nav-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/forward_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/forward_nav.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dlcl16/forward_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/forward_nav-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/etool16/last_edit_pos.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/back-to-last-edit.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.editors/$nl$/icons/full/dtool16/last_edit_pos.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/back-to-last-edit-disabled.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.externaltools/$nl$/icons/full/obj16/external_tools.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/launch_last_tool.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.debug.ui/$nl$/icons/full/elcl16/skip_brkp.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/skip_breakpoints.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/undo_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/undo.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dtool16/undo_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/undo.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/etool16/redo_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/redo.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dtool16/redo_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/redo.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/delete_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/delete.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/dlcl16/delete_edit.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/delete.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>    
      
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.debug.ui/$nl$/icons/full/eview16/debug_persp.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/debug.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide.application/$nl$/icons/full/eview16/resource_persp.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/resource.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/eview16/new_persp.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/open_perspective.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/tasks_tsk.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/tasks.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/$nl$/icons/full/eview16/tasks_tsk.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/tasks.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/$nl$/icons/full/eview16/problems_view.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/problems.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/problems_view.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/problems.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/problems_view_warning.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/problems.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <!--TODO ask and replace with new icon-->
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/problems_view_error.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/problems.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/bkmrk_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/bookmarks.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/$nl$/icons/full/eview16/bkmrk_nav.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/bookmarks.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
       <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.search/$nl$/icons/full/eview16/searchres.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/search.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.search/icons/full/eview16/searchres.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/search.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.console/icons/full/cview16/console_view.png">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/console.png">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
	
	<urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.console/$nl$/icons/full/cview16/console_view.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/console.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.console/icons/full/elcl16/pin.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/pin_view.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.console/icons/full/dlcl16/pin.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/pin_view.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/$nl$/icons/full/eview16/synch_synch.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/team_synchronizing.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/icons/full/eview16/synch_synch.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/team_synchronizing.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/icons/full/elcl16/refresh.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/refresh.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/icons/full/eview16/history_view.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/history.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/icons/full/elcl16/pin.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/pin_view.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/icons/full/elcl16/synced.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/link_to_editor.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.team.ui/icons/full/dlcl16/pin.gif">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/pin_view.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/outline.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.views/$nl$/icons/full/eview16/outline_co.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/outline.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/prop_ps.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/properties.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.views/$nl$/icons/full/eview16/prop_ps.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/properties.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>  
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/$nl$/icons/full/eview16/pview.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/progress.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/pview.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/progress.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>     
     
     <!--the minimize, maximize and view menu icons replacement does not work even though the names seem correct, perhaps on eclipse upgrade-->
     <!-- http://git.eclipse.org/c/platform/eclipse.platform.ui.git/plain/bundles/org.eclipse.ui/icons/full/elcl16/thin_min_view.png-->
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/elcl16/thin_min_view.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/minimize.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/thin_min_view.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/minimize.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/elcl16/thin_max_view.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/maximize.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
    
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/thin_max_view.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/maximize.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/$nl$/icons/full/elcl16/thin_view_menu.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/more.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement>
     
     <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui/icons/full/elcl16/thin_view_menu.png">
        <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/more.png">
        </alternateURLImageLocation>
     </urlBasedImageReplacement> 
     <!-- -->    

</extension>
   
<!--   
   <extension
         id="com.servoy.eclipse.ui.tweaks.imageReplacementExtensions"
         name="Image replacements performed by the c.s.e.ui.tweaks plugin"
         point="com.servoy.eclipse.ui.tweaks.imageReplacement">
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/eview16/resource_persp.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/orange_heart.gif">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      <classAndFileBasedImageReplacement
            originalImageFileName="images/toolbox.gif"
            originalRelativeToFullClassName="com.servoy.j2db.IApplication">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/orange_heart.gif">
         </alternateURLImageLocation>
      </classAndFileBasedImageReplacement>cement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide.application/$nl$/icons/full/eview16/resource_persp.png">
         <alternateClassAndFileNameImageLocation
               imageFileName="../../../../../../icons/blue_heart.gif"
               relativeToClass="com.servoy.eclipse.ui.tweaks.Activator">
         </alternateClassAndFileNameImageLocation>
      </urlBasedImageReplacement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.navigator.resources/$nl$/icons/full/eview16/resource_persp.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/orange_heart.gif">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
   </extension>
-->
   
</plugin>
