<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.servoy.eclipse.ui.tweaks.imageReplacement" name="Can replace (almost) any image that is used in Eclipse with custom ones" schema="schema/imageReplacement.exsd"/>
   <extension-point id="com.servoy.eclipse.ui.tweaks.weavingHook" name="Servoy Hook for weaving bytecode of classes" schema="schema/weavingHook.exsd"/>

   <extension
         id="com.servoy.eclipse.ui.tweaks.weaverExtensions"
         point="com.servoy.eclipse.ui.tweaks.weavingHook">
      <weaveClass
            fullClassNameToWeave="org.eclipse.jface.resource.ImageDescriptor"
            weaverClass="com.servoy.eclipse.ui.tweaks.bytecode.weave.ImageDescriptorWeaver">
      </weaveClass>
   </extension>
   
<!--   
   <extension
         id="com.servoy.eclipse.ui.tweaks.imageReplacementExtensions"
         name="Image replacements performed by the c.s.e.ui.tweaks plugin"
         point="com.servoy.eclipse.ui.tweaks.imageReplacement">
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.navigator.resources/icons/full/eview16/resource_persp.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/orange_heart.gif">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
      <classAndFileBasedImageReplacement
            originalImageFileName="images/toolbox.gif"
            originalRelativeToFullClassName="com.servoy.j2db.IApplication">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/orange_heart.gif">
         </alternateURLImageLocation>
      </classAndFileBasedImageReplacement>cement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.ide.application/$nl$/icons/full/eview16/resource_persp.png">
         <alternateClassAndFileNameImageLocation
               imageFileName="../../../../../../icons/blue_heart.gif"
               relativeToClass="com.servoy.eclipse.ui.tweaks.Activator">
         </alternateClassAndFileNameImageLocation>
      </urlBasedImageReplacement>
      <urlBasedImageReplacement
            originalImageURL="platform:/plugin/org.eclipse.ui.navigator.resources/$nl$/icons/full/eview16/resource_persp.gif">
         <alternateURLImageLocation
               imageURL="platform:/plugin/com.servoy.eclipse.ui.tweaks/icons/orange_heart.gif">
         </alternateURLImageLocation>
      </urlBasedImageReplacement>
   </extension>
-->
   
</plugin>
