<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.servoy.eclipse.opencode.OpencodePerspective"
            icon="icons/aichat.png"
            id="com.servoy.eclipse.opencode.OpencodePerspective"
            name="Servoy AI">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.servoy.eclipse.opencode.editors.BrowserEditor"
            default="false"
            icon="icons/aichat.png"
            id="com.servoy.eclipse.opencode.editors.BrowserEditor"
            name="Browser Editor">
      </editor>
   </extension>
</plugin>
