label.svy-check{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center;
	padding: 1px;
	margin: 0px;
}
label.svy-radio{
	padding: 1px;
	margin: 0px;
}
label.svy-check span{
	padding-left: 3px;
}