<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.mobileexporter.ui.wizard.ExportMobileWizard"
            icon="icons/mobile.png"
            id="com.servoy.eclipse.mobileexporter.ExportMobileWizard"
            name="Export Mobile File">
      </wizard>
   </extension>
   <extension
         point="com.servoy.eclipse.ui.exportSolutionProvider">
      <provider
            class="com.servoy.eclipse.mobileexporter.ui.wizard.MobileExportProvider"
            id="com.servoy.eclipse.exporter.mobile.exportSolutionProvider"
            name="Provides Solution Mobile Export">
      </provider>
   </extension>

</plugin>
