<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.servoy.eclipse.ui"
            class="com.servoy.eclipse.mobileexporter.ui.wizard.ExportMobileWizard"
            icon="icons/mobile.png"
            id="com.servoy.eclipse.mobileexporter.ExportMobileWizard"
            name="Export Active Solution To Mobile File">
      </wizard>
   </extension>
   <extension
         point="com.servoy.eclipse.ui.exportSolutionProvider">
      <provider
            class="com.servoy.eclipse.mobileexporter.ui.wizard.MobileExportProvider"
            id="com.servoy.eclipse.exporter.mobile.exportSolutionProvider"
            name="Provides Solution Mobile Export">
      </provider>
   </extension>
  
   
   <!-- define mobile action set -->
    <extension point="org.eclipse.ui.actionSets">
    <actionSet
    	  label="Start Mobile Client"
          id="com.servoy.eclipse.ui.start_mobile_actionSet"
          visible="true">
          <action
                class="com.servoy.eclipse.expoter.mobile.action.StartMobileClientActionDelegate"
                definitionId="com.servoy.eclipse.ui.StartMobileClient"
                icon="icons/launch_mobile.png"
                id="com.servoy.eclipse.ui.StartMobileClient"
                label="Start Mobile Client"
                menubarPath="org.eclipse.ui.run/start"
                style="pulldown"
                toolbarPath="Normal/additions"
                tooltip="Start Mobile Client in Browser">  
                <enablement>
                    <pluginState
                          id="com.servoy.eclipse.exporter.mobile.pluginState5" value="activated">
                    </pluginState>
                </enablement>         
         </action>         
    </actionSet>                 
   </extension>
    
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.servoy.eclipse.ui"
            description="Start Mobile Client"
            id="com.servoy.eclipse.ui.StartMobileClient"
            name="Start Mobile Client"
           >           
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.servoy.eclipse.ui.StartMobileClient"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+M">
      </key>
   </extension> 
   
    <!-- define launch configuration info-->
    <extension point="org.eclipse.debug.ui.launchGroups">
	  <launchGroup
	     id="com.servoy.eclipse.mobile.launch.GroupId"
	     mode="run"
	     label="Run"
	     image="icons/mobile.png"
	     category="servoy.mobile.category"
	     bannerImage="icons/mobile.png">
	  </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.servoy.eclipse.exporter.mobile.launch.MobileLaunchConfigurationDelegate"
            id="com.servoy.eclipse.mobile.launch"
            modes="run"
            name=" Servoy Mobile"
            category = "servoy.mobile.category"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/mobile.png"
	        configTypeID="com.servoy.eclipse.mobile.launch"
	        id="com.servoy.eclipse.mobile.launch.icon">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		  <launchConfigurationTabGroup
		      id="com.servoy.eclipse.mobile.launch.tabGroup"
		      type="com.servoy.eclipse.mobile.launch"
		      class="com.servoy.eclipse.exporter.mobile.launch.MobileLaunchConfigurationTabGroup">
		  </launchConfigurationTabGroup>
 	</extension>

</plugin>
