# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For Angular's browser support policy, please see:
# https://angular.dev/reference/versions#browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

Chrome >= 126
ChromeAndroid >= 126
Edge >= 126
Firefox >= 127
FirefoxAndroid >= 127
Safari >= 17.4
iOS >= 17.4

