.right {
	z-index: 3;
	position: fixed;
	right: 0px;
	width: 30px;
	height: 100%;
	margin-top : 15px;
	/* do not set margin-right since it is going under properties view */
	/* background-color: green;
	opacity: 0.3; */
	pointer-events: none;
}

.left {
	z-index: 3;
	position: fixed;
	width: 30px;
	height: 100%;
	margin-top : 15px;
	margin-left: -15px;
	/* background-color: green;
	opacity: 0.3; */
	pointer-events: none;
}

.bottom {
	z-index: 3;
	position: fixed;
	bottom: 0px;
	height: 30px;
	width: 100%;
	left: 0px;
	/* background-color: blue;
	opacity: 0.3; */
	pointer-events: none;
}

.top {
	z-index: 3;
	position: fixed;
	height: 30px;
	width: 100%;
	left: 0px;
	margin-top: -20px;
	/* background-color: blue;
	opacity: 0.3; */
	pointer-events: none;
}