<div #element class="ghostcontainer {{container.class}}" *ngFor="let container of ghosts"
     [ngStyle]="container.style">
    <div class="ghostContainerPropName" *ngIf="container.propertyName">property '{{container.propertyName}}'</div>
    <designer-resizeeditorwidth *ngIf="!container.propertyName"></designer-resizeeditorwidth>
    <div id="ghostBody" class="ghost label {{ghost.class}}" *ngFor="let ghost of container.ghosts"
        [ngStyle]="ghost.style" [attr.svy-id]="ghost.uuid" [attr.svy-types]="[ghost.propertyType]" [attr.svy-ghosttype]="[ghost.type]"
        (dblclick)="openContainedForm(ghost)" (mousedown)="onMouseDown($event, ghost, container)">
        <i *ngIf="draggingGhost == ghost" class="fas fa-anchor"></i>
        {{ghost.text}}&nbsp;
    </div>
    <designer-resizeeditorheight *ngIf="!container.propertyName"></designer-resizeeditorheight>
   
</div>
