<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.apache.tomcat.serviceprovider">
      <serviceprovider
            class="com.servoy.eclipse.firststeps.ServicesProvider"
            id="com.servoy.eclipse.firststeps.serviceprovider">
      </serviceprovider>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.servoy.eclipse.ui.FirstSteps"
            label="First Steps"
            visible="true">
         <action
               class="com.servoy.eclipse.firststeps.ui.actions.OpenFirstSteps"
               id="com.servoy.eclipse.firststeps.ui.openFirstSteps"
               label="First Steps"
               menubarPath="help/intro"
               style="push"
               tooltip="First Steps">
         </action>         
      </actionSet>   
   </extension>
</plugin>
