/* Default buttons (used in login, file upload)
-------------------------------------------------- */
body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.svy-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .svy-btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .svy-btn-primary:hover,
  .svy-btn-primary:focus,
  .svy-btn-primary.active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

  .svy-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  .svy-btn-success:hover,
  .svy-btn-success:focus,
  .svy-btn-success.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }

  .svy-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }
  .svy-btn-info:hover,
  .svy-btn-info:focus,
  .svy-btn-info.active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }

  .svy-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  .svy-btn-danger:hover,
  .svy-btn-danger:focus,
  .svy-btn-danger.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }

  .svy-btn-block {
    display: block;
    width: 100%;
  }

 .svy-overflow-auto {
	overflow: auto;
}
 .svy-overflowx-auto {
    overflow-x: auto;
}
 .svy-overflowy-auto {
    overflow-y: auto;
}
 .svy-overflowx-hidden {
    overflow-x: hidden;
}
 .svy-overflowy-hidden {
    overflow-y: hidden;
}
 .svy-overflowx-scroll {
    overflow-x: scroll;
}
 .svy-overflowy-scroll {
    overflow-y: scroll;
}
.svy-padding-xs {
	padding: 1px 5px;
}
.svy-nowrap {
	white-space:nowrap;
}
.svy-nomargin {
	margin:0px;
}
.svy-reconnecting
{
  color: red;
  background:lightgray;
  opacity: 0.75;
  z-index: 200000;
  width: 100%;
  height: 100%;
  position:absolute;
}

.svy-typeahead-zindex {
	z-index: 10000 !important;
}

#mktipmsg {
  display: none;
  position: absolute;
}
/* You can add global styles to this file, and also import other style files */
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}


.modal-backdrop {
  height: 100%;
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.window .window-title .close {
  display: none;
}

.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
	margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
	color: #B94A48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
	color: #C09853;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
	color: #3A87AD;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
	color: #3C763D;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bs-callout-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.owl-dt-inline-container {
    box-shadow: none; 
    width: 100%;
}

.owl-dt-inline .owl-dt-calendar {
    height:auto;
}

.owl-dt-inline {
    display: inline-block;
    width: 100%;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  cursor: unset;
  color: unset;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:disabled{
    border-color: #ccc;
}

.svy-main-window-container {
	z-index: 0;
}

.svy-main-window-navigator-container {
	z-index: 0;
}

.svy-wrapper > * > .svy-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.svy-wrapper > .svy-responsivecontainer {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.svy-wrapper > * >* > .svy-tabcontainer {
    overflow: auto;
    height: 100%;
    width: 100%;
    min-height: 0 !important;
}

/* Default form's height to 100% if responsive form is contained within an anchored form */
.svy-wrapper > * > .svy-container > .svy-tabcontainer > svy-form >.svy-respform {
    height: 100%;
}

/*
 The DragResize object name is automatically applied to all generated
 corner resize handles, as well as one of the individual classes below.
*/
.dragresize {
    position: absolute;
    width: 5px;
    height: 5px;
    font-size: 1px;
    background: #EEE;
    border: 1px solid #333;
}

/*
 Individual corner classes - required for resize support.
 These are based on the object name plus the handle ID.
*/
.dragresize-tl {
 top: -8px;
 left: -8px;
 cursor: nw-resize;
}
.dragresize-tm {
 top: -8px;
 left: 50%;
 margin-left: -4px;
 cursor: n-resize;
}
.dragresize-tr {
 top: -8px;
 right: -8px;
 cursor: ne-resize;
}

.dragresize-ml {
 top: 50%;
 margin-top: -4px;
 left: -8px;
 cursor: w-resize;
}
.dragresize-mr {
 top: 50%;
 margin-top: -4px;
 right: -8px;
 cursor: e-resize;
}

.dragresize-bl {
 bottom: -8px;
 left: -8px;
 cursor: sw-resize;
}
.dragresize-bm {
 bottom: -8px;
 left: 50%;
 margin-left: -4px;
 cursor: s-resize;
}
.dragresize-br {
 bottom: -8px;
 right: -8px;
 cursor: se-resize;
}

.loading-i-holder {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0px;
  align-items: center;
  justify-content: center;
}

.lii-shape {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 0 2px;
  
  background-color: #ef7a23;
  animation: 2.5s ease-in infinite;
  opacity : 0;
}

.lii-1 {
  animation-name: zoom-in-and-out-1;
}

.lii-2 {
  animation-delay: 0.1s;
  animation-name: zoom-in-and-out-2;
}

.lii-3 {
  animation-delay: 0.2s;
  animation-name: zoom-in-and-out-3;
}

.lii-4 {
  animation-delay: 0.3s;
  animation-name: zoom-in-and-out-4;
}

.lii-5 {
  animation-delay: 0.4s;
  animation-name: zoom-in-and-out-5;
}

@keyframes zoom-in-and-out-1 {
      0% { transform: translateX(190px); }
     25% { transform: translateX(190px); opacity : 0; }
     35% { opacity : 1; }
     40% { transform: translateX(0px); }
     60% { transform: translateX(0px); }
     65% { opacity : 1; }
     75% { transform: translateX(-110px); opacity: 0; }
}

@keyframes zoom-in-and-out-2 {
      0% { transform: translateX(170px); }
     25% { transform: translateX(170px); opacity : 0; }
     35% { opacity : 1; }
     40% { transform: translateX(0px); }
     60% { transform: translateX(0px); }
     65% { opacity : 1; }
     75% { transform: translateX(-130px); opacity: 0; }
}

@keyframes zoom-in-and-out-3 {
      0% { transform: translateX(150px); }
     25% { transform: translateX(150px); opacity : 0; }
     35% { opacity : 1; }
     40% { transform: translateX(0px); }
     60% { transform: translateX(0px); }
     65% { opacity : 1; }
     75% { transform: translateX(-150px); opacity: 0; }
}

@keyframes zoom-in-and-out-4 {
      0% { transform: translateX(130px); }
     25% { transform: translateX(130px); opacity : 0; }
     35% { opacity : 1; }
     40% { transform: translateX(0px); }
     60% { transform: translateX(0px); }
     65% { opacity : 1; }
     75% { transform: translateX(-170px); opacity: 0; }
}

@keyframes zoom-in-and-out-5 {
      0% { transform: translateX(110px); }
     25% { transform: translateX(110px); opacity : 0; }
     35% { opacity : 1; }
     40% { transform: translateX(0px); }
     60% { transform: translateX(0px); }
     65% { opacity : 1; }
     75% { transform: translateX(-190px); opacity: 0; }
}
