<div tabindex="0" class="column" id="editor">

		<div class='previewOverlayDiv' ng-show='displayOverlay' ng-click="displayOverlay = false;">
			<img ng-src="{{previewOverlayImgURL}}" class='previewImg'/>
		</div>
		
		<!-- 
			TODO: everything inside the #editor div should be dynamically generated and inserted.
			Take special care of making sure the ID query parameter on the src url of the iframe is set to the ID of the div in which the editor is instantiated
		-->
		<!-- Toolbar -->
		<toolbar class="toolbar-area"></toolbar>
			
		<div class="user-selection-off fill-area" > 
		
			<!--Palette-->
			<palette class="palette user-selection-off" ></palette>
			<div id="sidebar-resizer" class="sidebar-resizer user-selection-off" resizer="vertical" resizer-width="3" resizer-left="#paletteContent" resizer-max="400">
			</div>
			<!--  Editor -->
			<div class="content-area" tabindex="0" >
			    <div class="contentframe-overlay max" style="z-index:2;background-color:rgba(255,255,255,0.01);outline:none;user-select:none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select:none;" ng-style="glasspaneStyle" tabindex="0">
			    	<div id="lasso"></div>
			    	<div id="highlight"></div>
					<!--Decorators-->
						<div id="ghost-dnd-placeholder" class="ghost-dnd-placeholder ghost-dnd-mode ghost label"><i class="fa fa-anchor" aria-hidden="true"></i></div>
						<decorator></decorator>
						<div class="ghostcontainer {{container.class}}" ng-repeat="container in ghosts.ghostContainers" ng-style="getGhostContainerStyle(container)" style="display:none">
							<div class="ghostContainerPropName">property '{{container.propertyName}}'</div>
							<div class="ghost label {{ghost.class}}" ng-repeat="ghost in container.ghosts track by $index" ng-style="getGhostStyle(ghost, container)" svy-id="{{ghost.uuid}}" svy-types="[{{ghost.propertyType}}]" ng-dblclick="openContainedForm(ghost)">
								<hr ng-style="getGhostHRStyle(ghost)">{{ghost.text}}&nbsp;
							</div>
						</div>
			    </div>
				<div class="content" ng-style="contentStyle">
					<!-- id query param should be dynamically set to the selector of the div in which the editor is placed -->
					<iframe class="contentframe" ng-src="{{contentframe}}"></iframe>
				</div>
				<div class="bottomAutoscrollArea" ng-style="togglePointerEvents"></div>
				<div class="rightAutoscrollArea" ng-style="togglePointerEvents"></div>
				<div class="topAutoscrollArea" ng-style="togglePointerEvents"></div>
				<div class="leftAutoscrollArea" ng-style="togglePointerEvents"></div>
			</div>		
		    <contextmenu></contextmenu>
		</div>
		<!-- Statusbar-->
		<div id="statusbar" class="statusbar-area">&nbsp;</div>
		<div id="directEdit" contentEditable="true" style="position:absolute;display:none;z-index:1000;" onfocus="document.execCommand('selectAll',false,null)"></div>
</div>
