<div>
	<accordion close-others='false'>
		<accordion-group ng-repeat="category in categories" is-open="category.isOpen">
			<accordion-heading>
				<h1 class="palette-heading">{{category.name}}<span style="float: right">˅</span></h1>
			</accordion-heading>
		    <div>
			    <ul>
					<li ng-repeat="item in category.components | orderBy:'displayName'" ng-mousedown="enterDragMode($event,item.name)">
						<img ng-src="{{item.icon}}" alt="{{item.displayName}}" title="{{item.displayName}}"/>{{item.displayName}}
					</li>
			    </ul>
			 </div>
		</accordion-group>
	</accordion>
</div>