<div>
	<section>
	    <h1 class="palette-heading">Form Components<span style="float: right">&#x2C5;</span></h1>
	    <div>
		    <ul>
		        <li data-role="component" data-component-template="<button>button</button>"><img src="images/old/button.gif"/>Button</li>
		        <li><img src="images/old/RADIO16.png"/>Radio</li>
		        <li><img src="images/old/CHECKBOX16.png"/>Checkbox</li>
				<li><img src="images/old/text.gif"/>Label</li>
				<li><img src="images/old/textinput.png"/>Text Field</li>
				<li><img src="images/old/TEXTAREA16.png"/>Text Area</li>
				<li><img src="images/old/H1_C16.png"/>HTML Area</li>
				<li><img src="images/old/doc_rtf.png"/>RTF Area</li>
				<li><img src="images/old/password_field_16.png"/>Password Field</li>
				<li><img src="images/old/Calendar_C16.png"/>Calendar Field</li>
				<li><img src="images/old/IMG16.png"/>Media Field</li>
				<li><img src="images/old/SELECT16.png"/>Combobox</li>
				<li><img src="images/old/listbox.png"/>Listbox</li>
				<li><img src="images/old/listbox.png"/>Multiselect Listbox</li>
				<li><img src="images/old/bhdropdownlisticon.gif"/>TypeAhead</li>
				<li><img src="images/old/spinner.png"/>Spinner</li>
				<li><img src="images/old/portal.gif"/>Portal</li>
		    </ul>
		 </div>
	</section>

	<section>
	    <h1 class="palette-heading">Containers<span style="float: right">&#x2C5;</span></h1>
	    <div>
		    <ul>
		        <li><img/>Horizontal Flow</li>
		        <li><img/>Vertical Flow</li>
		        <li><img/>Absolute Layout</li>
				<li data-role="component" data-component-type="BOOTSTRAP.GRID"><img/>Grid Row</li>
		        <li><img/>Tabbed Pane</li>
		        <li><img/>Split Pane</li>
		        <li><img/>Tabless Pane</li>
		    </ul>
		</div>
	</section>

	<section>
	    <h1 class="palette-heading">Charts<span style="float: right">&#x2C5;</span></h1>
		<div>
		    <ul>
		        <li data-role="component" data-component-type="JUSTGAGE"><img/>Gauge</li>
		    </ul>
		</div>
	</section>

	<section>
	    <h1 class="palette-heading">HTML<span style="float: right">&#x2C5;</span></h1>
		<div>
		    <ul>
		        <li><img/>DIV</li>
		        <li><img/>SPAN</li>
		        <li><img/>H1</li>
		        <li><img/>P</li>
		    </ul>
		</div>
	</section>
</div>