<div>
	<accordion close-others='false'>
		<accordion-group ng-repeat="package in packages" is-open="package.isOpen">
			<accordion-heading>
				<h1 class="palette-heading">{{package.packageName}}<span ng-class="package.isOpen ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'" style="float: right"></span></h1>
			</accordion-heading>
		    <div>
			    <ul>
					<li ng-repeat="item in package.components | orderBy:'displayName'" ng-mousedown="enterDragMode($event,item.name,package.packageName,item.tagName,item.model) " title="Place component {{item.displayName}}">
						<img ng-src="/{{item.icon}}" alt="{{item.displayName}}"/>{{item.displayName}}
					</li>
			    </ul>
			 </div>
		</accordion-group>
	</accordion>
</div>
