<div>
	<!-- Right aligned toolbars included in DOm first, to get desired toolbar overflow behavior -->

	<div class="toolbar right-aligned">	
    	<toolbar-item ng-repeat="item in sticky" model="item" class="toolbar-action"/>
	</div>

	<div class="toolbar element">
		<toolbar-item ng-repeat="item in elements" model="item" class="toolbar-action"/>
	</div>

	<div class="toolbar ordering">
		<toolbar-item ng-repeat="item in ordering" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar alignment">
		<toolbar-item ng-repeat="item in alignment" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar distribution">
		<toolbar-item ng-repeat="item in distribution" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar sizing">
		<toolbar-item ng-repeat="item in sizing" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar form">
		<toolbar-item ng-repeat="item in form" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar editor">
		<!-- toolbar-item ng-repeat="item in editor" model="item" class="toolbar-action"/ -->
	</div>
</div>