<div>

	<div class="toolbar element" ng-if="elements.length > 0">
		<toolbar-item ng-repeat="item in elements" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>

	<div class="toolbar ordering" ng-if="ordering.length > 0">
		<toolbar-item ng-repeat="item in ordering" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar alignment" ng-if="alignment.length > 0">
		<toolbar-item ng-repeat="item in alignment" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar distribution" ng-if="distribution.length > 0">
		<toolbar-item ng-repeat="item in distribution" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar sizing" ng-if="sizing.length > 0">
		<toolbar-item ng-repeat="item in sizing" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar groping" ng-if="grouping.length > 0">
		<toolbar-item ng-repeat="item in grouping" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar form" ng-if="form.length > 0">
		<toolbar-item ng-repeat="item in form" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar display" ng-if="display.length > 0">
		<toolbar-item ng-repeat="item in display" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	
	<div class="toolbar editor">
		<!-- toolbar-item ng-repeat="item in editor" ng-if="!item.hide" model="item" class="toolbar-action"/ -->
	</div>
	
	<!-- This right aligned toolbar will expand its left margin so that it will be moved as far right as possible, 
		 divs after this one will also be on the right side of the toolbar -->

	<div class="toolbar show_data right-aligned" ng-if="show_data.length > 0">	
    	<toolbar-switch ng-repeat="item in show_data" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	<div class="toolbar design_mode" ng-if="design_mode.length > 0">	
    	<toolbar-switch ng-repeat="item in design_mode" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	<div class="toolbar sticky" ng-if="sticky.length > 0">	
    	<toolbar-item ng-repeat="item in sticky" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>
	<div class="toolbar standard_actions" ng-if="standard_actions.length > 0">	
    	<toolbar-item ng-repeat="item in standard_actions" ng-if="!item.hide" model="item" class="toolbar-action"/>
	</div>

</div>